@use "sass:map";
@use "~@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");

  .facts-container {
    background-color: rgba(map-get($primary-palette, 50), 0.5);
  }
  .regular {
    background-color: map-get($primary-palette, 700);
    color: map-get($primary-palette, 50);
  }
  .invert {
    background-color: map-get($primary-palette, 50);
    color: map-get($primary-palette, 700);
  }
  .toggle {
    background-color: map-get($primary-palette, darker);
  }
  .toggle-invert {
    background-color: map-get($primary-palette, lighter);
  }
  #popup {
    background-color: map-get($primary-palette, lighter);
  }
  .popup-content {
    background-color: map-get($primary-palette, 50);
  }
  #popup-toolbar {
    color: map-get($accent-palette, darker);
    background-color: map-get($primary-palette, 100);
  }
  #title {
    background: map-get($primary-palette, 50);
    background: linear-gradient(
      90deg,
      rgba(map-get($primary-palette, 50), 0) 0%,
      map-get($primary-palette, 50) 5%,
      rgba(map-get($primary-palette, 50), 0) 40%
    );
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
