<div id="grant">
  <h2 id="title" class="mat-display-2">Grant Moore</h2>

  <div class="facts-container">
    
    <div class="h-align" *ngFor="let thisState of this.stateArray()">

      <div class="fact mat-elevation-z4" (mouseenter)="highlightFact(thisState)" (mouseleave)="delightFact(thisState)" matRipple [matRippleUnbounded]="true" matRippleColor="rgba(255,255,255, 0.3)" [matRippleCentered]="false" (click)="expandPopUp(thisState)">
        <div class="factoid" [class.highlighted]="isFactHighlighted(thisState)" [@cntl_highlight]="factHighlightCntls[this.indexFromState(thisState)].state">
          <div class="v-align">
            {{getFactMessage(thisState)}}
          </div>
        </div>
        <div class="toggle">
          <button mat-icon-button color="accent" (click)="expandPopUp(thisState)"><mat-icon>chevron_right</mat-icon></button>
        </div>
      </div>
    </div>

  </div>
</div>

<button id="back-btn" mat-mini-fab routerLink="/about">
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<div id="popup" [@cntl_expand]="popupExpandCntl.state">
  <div id="popup-toolbar">
    <h2 id="popup-header" class="v-align mat-title">{{getPopupTitle()}}</h2>
    <div>
      <button mat-icon-button (click)="closePopUp()" color="warn" *ngIf="!isPopUpClosed()"><mat-icon>close</mat-icon></button>
    </div>
  </div>

  <div id="experience-popup" class="popup-content" *ngIf="popUpState == popUpStates.one">
    <mat-list>
      <div mat-subheader>Makpar</div>
      <mat-list-item>
        <mat-icon mat-list-icon color="accent">label_important</mat-icon>
        <div mat-line>DevOps Engineer</div>
        <div mat-line>2021 - Current</div>
        <mat-icon color="accent">info</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>

      <div mat-subheader>IBM</div>
      <mat-list-item>
        <mat-icon mat-list-icon color="accent">label_important</mat-icon>
        <div mat-line>Full Stack Developer</div>
        <div mat-line>2018 - 2021</div>
        <mat-icon color="accent">info</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      
      <div mat-subheader>Front Range Community College</div>
      <mat-list-item>
        <mat-icon mat-list-icon color="accent">label_important</mat-icon>
        <div mat-line>Mathematics Professor</div>
        <div mat-line>2017 - 2018</div>
        <mat-icon color="accent">info</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>

      <div mat-subheader>University of Cincinnati</div>
      <mat-list-item>
        <mat-icon mat-list-icon color="accent">label_important</mat-icon>
        <div mat-line>Adjunct Mathematics Professor</div>
        <div mat-line>2017</div>
        <mat-icon color="accent">info</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>

      <div mat-subheader>Frostburg State University</div>
      <mat-list-item>
        <mat-icon mat-list-icon color="accent">label_important</mat-icon>
        <div mat-line>Adjunct Physics Professor</div>
        <div mat-line>2015 - 2017</div>
        <mat-icon color="accent">info</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>

      <div mat-subheader>Allegany College of Maryland</div>
      <mat-list-item>
        <mat-icon mat-list-icon color="accent">label_important</mat-icon>
        <div mat-line>Adjunct Mathematics Professor</div>
        <div mat-line>2015 - 2016</div>
        <mat-icon color="accent">info</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>

      <div mat-subheader>Americorps</div>
      <mat-list-item>
        <mat-icon mat-list-icon color="accent">label_important</mat-icon>
        <div mat-line>Mathematics Mentor</div>
        <div mat-line>2014 - 2016</div>
        <mat-icon color="accent">info</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list> 
  </div>

  <div id="certifications-popup" class="popup-content" *ngIf="popUpState == popUpStates.two">
    <mat-tab-group animationDuration="1000ms" style="height: 100%;">
      <mat-tab label="AWS DevOps Engineer Professional">
        <div class="img-container">
          <img src="/assets/certs/AWS_DEVOPS.png" alt="AWS DevOps Engineer Professional">
        </div>
      </mat-tab>
      <mat-tab label="AWS Developer Associate">
        <div class="img-container">
          <img src="/assets/certs/AWS_DEVELOPER.png" alt="AWS Developer Associate Certification">
        </div>
      </mat-tab>
      <mat-tab label="MTA Database Administration">
        <div class="img-container">
          <img src="/assets/certs/MTA_DATABASE.png" alt="MTA Database Administration Certification">
        </div>
      </mat-tab>
      <mat-tab label="MTA Software Development">
        <div class="img-container">
          <img src="/assets/certs/MTA_SOFTWARE.png" alt="MTA Software Development Certification">
        </div>
      </mat-tab>
      <mat-tab label="MTA Python Programming">
        <div class="img-container">
          <img src="/assets/certs/MTA_PYTHON.png" alt="MTA Python Programming Certification">
        </div>
      </mat-tab>
      <mat-tab label="MTA Java Programming">
        <div class="img-container">
          <img src="/assets/certs/MTA_JAVA.png" alt="MTA Java Programming Certification">
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div id="education-popup" class="popup-content" *ngIf="popUpState == popUpStates.three">education</div>

  <div id="portfolio-popup" class="popup-content" *ngIf="popUpState == popUpStates.four">
    <mat-tab-group animationDuration="1000ms" style="height: 100%;">
      <mat-tab label="buy.gsa.gov">
        <iframe src="https://buy.gsa.gov/contracts/home" width="100%" height="100%"></iframe>
      </mat-tab>
      <mat-tab label="documentation.makpar-innovation.net">
        <iframe src="https://documentation.makpar-innovation.net" width="100%" height="100%"></iframe>
      </mat-tab>
      <mat-tab label="chinchalinchin.github.io/scrilla">
        <iframe src="https://chinchalinchin.github.io/scrilla/" width="100%" height="100%"></iframe>
      </mat-tab>

    </mat-tab-group>
  </div>

</div>
