<div id="team">
  <mat-card class="member">
    
    <div class="center">
      <div class="profile-container">
        <img src="/assets/me/profile_me-2.jpg" alt="Fine Dining" class="profile-pic">
      </div>
    </div>

    <mat-card-title class="center">
      Grant Moore
    </mat-card-title>

    <mat-card-content>
      Description Goes Here
    </mat-card-content>
    
    <mat-card-actions align="end">
      <button mat-icon-button routerLink="/members/grant">
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
    </mat-card-actions>
  
  </mat-card>
</div>
