<div class="pricing">
  <mat-card id="calc-card" class="mat-elevation-z8" style="padding-bottom: 0.5%;">
    <mat-card-title>
      Project Quote Calculator
    </mat-card-title>
    
    <mat-card-subtitle>
      Estimate your costs based on your needs
    </mat-card-subtitle>

    <mat-card-content>
      <mat-accordion displayMode="flat">
        <mat-expansion-panel (opened)="setFocus(pricingGroups.core)" (closed)="removeFocus()" *ngIf="!focusing || focused(pricingGroups.core)" [@expand_full]>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Core Features
            </mat-panel-title>
          </mat-expansion-panel-header>
          <section [formGroup]="coreFormGroup">
            <div *ngFor="let conf of coreConfig">
              <mat-checkbox [formControlName]="conf.key">{{conf.name}}</mat-checkbox>
              <mat-icon *ngIf="groupField(pricingGroups.core, conf.key)" style="float: right;" color="accent" [matTooltip]="conf.tooltip">info</mat-icon>
            </div>
          </section>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="setFocus(pricingGroups.addon)" (closed)="removeFocus()" *ngIf="!focusing || focused(pricingGroups.addon)" [@expand_full]>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Additional Specifications
            </mat-panel-title>
          </mat-expansion-panel-header>
          <section [formGroup]="addOnFormGroup">
            <div *ngFor="let conf of addOnConfig">
              <mat-checkbox [formControlName]="conf.key">{{conf.name}}</mat-checkbox>
              <mat-icon *ngIf="groupField(pricingGroups.addon, conf.key)" style="float: right;" color="accent" [matTooltip]="conf.tooltip">info</mat-icon>
            </div>
          </section>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="setFocus(pricingGroups.analytics)" (closed)="removeFocus()" *ngIf="!focusing || focused(pricingGroups.analytics)" [@expand_full]>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Analytics
            </mat-panel-title>
          </mat-expansion-panel-header>
          <section [formGroup]="analyticsFormGroup">
            <div *ngFor="let conf of analyticsConfig">
              <mat-checkbox [formControlName]="conf.key">{{conf.name}}</mat-checkbox>
              <mat-icon *ngIf="groupField(pricingGroups.analytics, conf.key)" style="float: right;" color="accent" [matTooltip]="conf.tooltip">info</mat-icon>
            </div>
          </section>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>

    <button mat-icon-button id="calc-btn" [color]="buttonStyle" (mouseenter)="toggleButtonStyle()" (mouseleave)="toggleButtonStyle()" (click)="calculate()">
      <mat-icon>add_box</mat-icon>
    </button>
  </mat-card>
  
</div>

<div id="cost-breakdown-popup" [@expand_popup] *ngIf="calculated">
  <div id="popup-toolbar">
    <button mat-icon-button color="warn" (click)="uncalculate()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div id="popup-content">
    <app-rate *ngFor="let config of enabledConfig" [config]="config"></app-rate>
  </div>
</div>