<div class="pricing">

  <mat-card id="calc-card" class="mat-elevation-z8">
    <mat-card-title>
      Project Quote Calculator
    </mat-card-title>
    <mat-card-subtitle>
      Estimate your costs based on your needs
    </mat-card-subtitle>
    <mat-card-content>
      I want a website with the following features...
      <section>
        <mat-checkbox>online store</mat-checkbox> <mat-icon>help_outline</mat-icon>
        <mat-checkbox>user accounts</mat-checkbox> <mat-icon>help_outline</mat-icon>
        <mat-checkbox>data storage</mat-checkbox> <mat-icon>help_outline</mat-icon>
        <mat-checkbox>forums</mat-checkbox> <mat-icon>help_outline</mat-icon>
        <mat-checkbox>media streaming</mat-checkbox> <mat-icon>help_outline</mat-icon>
      </section>
      ..and the following criteria are <strong>very</strong> important...
      <section>
        <mat-checkbox>zero downtime</mat-checkbox> <mat-icon>help_outline</mat-icon>
        <mat-checkbox>high availability</mat-checkbox> <mat-icon>help_outline</mat-icon>
        <mat-checkbox>data security</mat-checkbox> <mat-icon>help_outline</mat-icon>
        <mat-checkbox>data integrity</mat-checkbox> <mat-icon>help_outline</mat-icon>
        <mat-checkbox>user analytics</mat-checkbox> <mat-icon>help_outline</mat-icon>
        <mat-checkbox>low latency</mat-checkbox> <mat-icon>help_outline</mat-icon>
        <mat-checkbox>search engine optimization</mat-checkbox> <mat-icon>help_outline</mat-icon>

      </section>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button><mat-icon>add</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
