.pricing{
  position: absolute;
  top: 30%;
  width: 100%;
  bottom: 5%;
  display: flex; 
  flex-direction: row;
  justify-content: space-around; 
}
.align{
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}
#calc-card{
  width: 75%;
  border-style: solid;
  border-width: 1px;
}
#calc-btn{
  position: absolute;
  right: 2.5%;
}
#cost-breakdown-popup{
  position: absolute;
  top: 27.5%;
  height: 67.5%;
  border-radius: 5px;
}
#popup-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}
#popup-content{
  overflow-y: auto;
  height: 90%;
}
@media(min-width:991px){
  #calc-btn{
    top: 2.5%;
  }
  #cost-breakdown-popup{
    right: 10%;
    width: 80%; 
  }
}
@media(max-width:992px){
  #calc-btn{
    bottom: 2.5%;
  }
  #cost-breakdown-popup{
    right: 2.5%;
    width: 95%;
  }
}