
mat-slider{
    width: 80%;
}
.mat-header-row{
    border-radius: 5px 5px 0 0;
}
#rate-input{
    margin: 0.5%;
}
.element-container{
    display: flex;
}
.element-widget{
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 7.5%;
}
@media(min-width: 991px){
    #root-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .element{
        max-width: 50%;
    }
    .element-container{
        flex-direction: row;
    }
    .element-widget{
        max-width: 40%;
    }    
}
@media(max-width: 992px){
    .element-container{
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    .element-widget{
        width: 90%;
    }
}