<div id="contact">
    <mat-card id="contact-card" class="mat-elevation-z8">
        <mat-card-title>Contact Form</mat-card-title>
        <mat-card-content>
            <form [formGroup]="contactGroup">
                <mat-form-field id="first-name-field" color="warn">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" formControlName="first">
                    <button *ngIf="contactGroup.controls['first'].value" matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field id="last-name-field" color="warn">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" formControlName="last">
                    <button *ngIf="contactGroup.controls['last'].value" matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field id="email-field" color="warn">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                    <button *ngIf="contactGroup.controls['email'].value" matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="contactGroup.controls['email'].hasError('email') && !contactGroup.controls['email'].hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="contactGroup.controls['email'].hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field id="reason-field" color="warn" appearance="fill">
                    <mat-label>Reason</mat-label>
                    <mat-select formControlName="reason" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let conf of reasonConfig" [value]="conf.reason">
                        {{conf.reason}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="contactGroup.controls['reason'].hasError('required')">
                        Please choose a reason
                    </mat-error>
                </mat-form-field>

            </form>
        </mat-card-content>
    </mat-card>
</div>