@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $warn-palette: map.get($color-config, 'warn');

  .profile-pic, .sep{
    border-color: map-get($accent-palette, 900);
  }
  .highlight{
    color: map-get($accent-palette, 300);
  }
  .cloud-svg-light{
    fill: map-get($primary-palette,400);
  }
  .cloud-svg-select{
    fill: map-get($primary-palette, 100)
  }
  .cloud-svg-dark{
    fill: map-get($primary-palette, 700);
  }
  .cloud-border{
    fill: #1D1D1B
  }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
      @include color($theme);
    }
  
    $typography-config: mat.get-typography-config($theme);
    @if $typography-config != null {
      @include typography($theme);
    }
  }