#about{
  position: absolute;
  top: 40%;
  width: 100%;
  height: 60%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#profile-card{
  height: 70%;
  border: solid;
  border-width: 1px;
}
.profile-container{
  width: 30%;;
}
.profile-pic{
  position: relative;
  top: -25%;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
}
.banner{
  padding: 2.5%;
  height: 2.5%;
  border-radius: 5%;
}
.banner-selected{
  border-radius: 50%;
}
.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.actions{
  position: absolute;
  bottom: 1%;
  right: 2.5%;
}

@media(min-width: 991px){
  .animation{
    position: absolute
  }
  #profile-card{
    position: absolute;
    width: 40%;
  }
  #who-banner{
    top: 10%;
    left: 3.5%;
    width: 20%;
    height: 20%;
  }
  #who-cloud{
    top: 25%;
    left: -2.5%;
  }
  #mathematician-text{
    top: 57.5%;
    left: 10%;
  }
  #technologist-text{
    top: 68.5%;
    left: 10%;
  }
  #educator-text{
    top: 80%;
    left: 10%;
  }
  #what-banner{
    top: 10%;
    right: 2%;
    width: 20%;
    height: 20%;
  }
  #what-cloud{
    top: 25%;
    right: -2.5%;
  }
  #develop-text{
    top: 57.5%;
    right: 7.5%;
  }
  #architect-text{
    top: 68.5%;
    right: 7.5%;
  }
  #design-text{
    top: 80%;
    right: 7.5%;
  }
}