<div id="about">

  <div class="facts-container top">
    <div class="fact">
      <div class="toggle">
        <button mat-icon-button><mat-icon>chevron_right</mat-icon></button>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="fact">
      <div class="toggle">
        <button mat-icon-button><mat-icon>chevron_right</mat-icon></button>
      </div>
    </div>
    <div class="spacer"></div>
  </div>

  <div class="spacer"></div>

  <div class="facts-container bottom">
    <div class="spacer"></div>
    <div class="fact">
      <div class="toggle">
        <button mat-icon-button><mat-icon>chevron_right</mat-icon></button>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="fact">
      <div class="toggle">
        <button mat-icon-button><mat-icon>chevron_right</mat-icon></button>
      </div>
    </div>
  </div>

  <div class="spacer"></div>

</div>
