<div id="about">
  <mat-card class="profile mat-elevation-z3">
    <div class="center">
      <div class="profile-container">
        <img src="/assets/people/grant/profile.jpg" alt="Grant Moore, Lead Engineer" class="profile-pic">
      </div>
    </div>

    <mat-card-title class="center">
      Grant Moore
    </mat-card-title>
    <mat-card-subtitle class="center">
      Solution Architect, DevOps Enginner & Full-Stack Developer
    </mat-card-subtitle>

    <div class="actions">
      <button mat-icon-button routerLink="/about/resume">
        <mat-icon matTooltip = "Grant's Resume">arrow_right_alt</mat-icon>
      </button>
    </div>
  </mat-card>


</div>
