/****/
img {
  max-width: 100%;
  max-height: 100%;
}
.mat-stepper-horizontal{
  height: 100%
}
::ng-deep::mat-horizontal-content-container{
  height: 100%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}