/****/
#design{
  position: absolute;
  top: 30%;
  width: 100%;
  height: 60%;
  display: flex;
}
#popup{
  position: absolute;
  top: 30%;
  border-radius: 5px;
}
#popup-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  border-style: none none groove none;
  border-width: 1px;
}
#popup-header{
  margin-left: 5%;
}
#construction-img{
  padding-top: 1%;
  width: 34%;
}
#tools-one, #tools-two{
  width: 18%;
}
#tools-two{
  align-content: flex-start;
}
#tools-summary{
  width: 60%
}
#main-img-container{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}
#center-img{
  max-width: 60%;
}

@media(max-width: 992px){
  #design{
    flex-direction: column;
  }
}
@media(min-width: 991px){
  #design{
    flex-direction: row;
    align-items:center;
  }
  #popup{
    right: 10%;
  }
}