<div
  id="tray"
  class="mat-elevation-z3"
  [class.tabbed]="!extended"
  [@cntl_position_tray]="positionCntl.state"
  [@expand]
>
  <div id="chevron-container">
    <mat-icon
      id="extend-btn"
      role="button"
      aria-controls="tray"
      aria-label="Open blog tray menu"
      [svgIcon]="extended ? 'chevron_up' : 'chevron_down'"
      [matTooltip]="
        extended
          ? 'Go back to the Cumberland Cloud'
          : 'Read the Cumberland Cloud blog!'
      "
      (click)="extend()"
    >
    </mat-icon>
  </div>
</div>
