#tray {
  position: absolute;
  display: flex;
  flex-direction: column;
}
#news-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 0.5%;
}
#chevron-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 1;
}
#preview-panel {
  width: 40%;
}
#preview-img-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
#preview-content {
  width: 60%;
  padding: 1%;
  border-radius: 15px;
}
#preview-link {
  width: 5%;
}
#preview-btn {
  float: right;
  margin-top: -5%;
}

#extend-btn {
  margin-top: -0.25%;
  cursor: pointer;
  min-width: 5%;
}
.news-item {
  width: 40%;
  display: flex;
  flex-direction: row;
}
.preview-img {
  border-radius: 15px;
  padding: 1%;
  margin-right: auto;
  margin-left: auto;
}
.tabbed {
  border-radius: 0 0 25px 25px;
}
@media (min-width: 991px) {
  .preview-img {
    width: 30%;
  }
}
@media (max-width: 992px) {
  .preview-img {
    width: 25%;
  }
}
