<div class="sheet">
  <h1 class="mat-display-2 text-center">Contact Information</h1>
  <div id="social-links">
    <div>
      <a 
        id="twitter-link"
        href="https://twitter.com/CloudCumberland" 
        target="_blank"
        alt="Twitter Profile"
      >
        <mat-icon
          svgIcon="twitter"
          matTooltip="Github Repositories"
        ></mat-icon>
      </a>
    </div>
    <div style="margin-left: 1.25%">
      <a 
        id="github-link"
        href="https://github.com/chinchalinchin" 
        target="_blank"
        alt="Github Profile"
      >
        <mat-icon
          svgIcon="github"
          matTooltip="Github Repositories"
        ></mat-icon>
      </a>
    </div>
    <div style="margin-left: 1.25%">
      <a 
        id="pypi-link"
        href="https://pypi.org/user/chinchalinchin/"
        alt="PyPi Profile"
        target="_blank"
      >
        <mat-icon
          svgIcon="pypi"
          matTooltip="PyPi Packages"
        ></mat-icon>
      </a>
    </div>
  </div>

  <div class="line-item">
    <div><strong>EMAIL</strong></div>
    <div class="divider"></div>
    <div>
      <a class="mat-body-1" href="mailto:design@cumberland-cloud.com"
        >design@cumberland-cloud.com</a
      >
    </div>
  </div>

  <div class="line-item">
    <div><strong>PHONE</strong></div>
    <div class="divider"></div>
    <div><a class="mat-body-1" href="tel:301-697-9801">301-697-9801</a></div>
  </div>

  <div class="line-item">
    <div><strong>ADDRESS</strong></div>
    <div class="divider"></div>
    <div>
      401 North Mechanic Street <br />
      Cumberland, MD 21502
    </div>
  </div>

  <div class="line-item">
    <div><strong>HOURS</strong></div>
    <div class="divider"></div>
    <div>MTWTF 8AM - 5PM</div>
  </div>
</div>
