@media (max-width: 992px) {
  #archive-btn{
    position: absolute;
    right: 2.5%;
    top: 7.5%;
  }
  #preview-content {
    margin-top: 3.5%;
    padding-left: 2.5%;
  }
  #preview {
    flex-direction: column;
  }
  #archive {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  #archive-panel {
    min-height: 40%;
  }
  .content-pane,
  .panel-pane {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .panel-pane {
    display: flex;
    flex-direction: row;
    max-height: 40%;
  }
  .panel-img {
    width: 50%;
    max-height: 100%;
  }
  .preview-img {
    float: right;
  }
  .archive-img {
    float: left;
  }
  .archive-item {
    height: 100%;
    margin-top: 2.5%;
    text-align: center;
  }
  .news-item {
    width: 50%;
  }
}
