#archive {
  position: absolute;
  top: 30%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}
mat-list-item{
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
}
mat-list-item:not(:first-child){
  margin-top: 0.5%;
}

@media (min-width: 991px) {
  mat-list{
    width: 100%;
  }
  .mat-list-item{
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 992px) {

}
