<div id="pricing">
  <mat-card id="calc-card" class="mat-elevation-z8">
    <mat-card-title> Project Quote Calculator </mat-card-title>

    <mat-card-subtitle>
      Estimate your costs based on your project
    </mat-card-subtitle>

    <mat-card-content>
      <mat-accordion displayMode="flat">
        <mat-expansion-panel
          id="core-expansion-panel"
          (opened)="setFocus(pricingGroups.core)"
          (closed)="removeFocus()"
          *ngIf="!focusing || focused(pricingGroups.core)"
          [@expand_full]
        >
          <mat-expansion-panel-header>
            <mat-panel-title id="core-panel-title" class="panel-title">
              <span
                id="core-features-total"
                [matBadge]="coreChecked"
                matBadgeColor="accent"
                [matBadgeHidden]="coreChecked === 0"
                matBadgePosition="below"
                matBadgeSize="small"
              >
                Core Features
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <section
            id="core-form"
            role="form"
            [formGroup]="coreFormGroup"
            aria-label="Core features selection form"
          >
            <div *ngFor="let conf of coreConfig">
              <mat-checkbox
                [id]="conf.ids[0]"
                [formControlName]="conf.key"
                (change)="renderBadges(pricingGroups.core)"
              >
                {{ conf.name }}
              </mat-checkbox>
              <button
                [id]="conf.ids[1]"
                mat-icon-button
                *ngIf="groupField(pricingGroups.core, conf.key)"
                [matTooltip]="conf.tooltip"
              >
                <mat-icon color="accent">info</mat-icon>
              </button>
            </div>
          </section>
        </mat-expansion-panel>

        <mat-expansion-panel
          id="addon-expansion-panel"
          (opened)="setFocus(pricingGroups.addon)"
          (closed)="removeFocus()"
          *ngIf="!focusing || focused(pricingGroups.addon)"
          [@expand_full]
        >
          <mat-expansion-panel-header>
            <mat-panel-title id="addon-panel-title" class="panel-title">
              <span
                [matBadge]="addOnChecked"
                matBadgeColor="accent"
                [matBadgeHidden]="addOnChecked === 0"
                matBadgePosition="below"
                matBadgeSize="small"
              >
                Additional Specifications
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <section
            id="role-form"
            role="form"
            [formGroup]="addOnFormGroup"
            aria-label="Addon feature selection form"
          >
            <div *ngFor="let conf of addOnConfig">
              <mat-checkbox
                [id]="conf.ids[0]"
                [formControlName]="conf.key"
                (change)="renderBadges(pricingGroups.addon)"
              >
                {{ conf.name }}
              </mat-checkbox>
              <button
                [id]="conf.ids[1]"
                mat-icon-button
                *ngIf="groupField(pricingGroups.addon, conf.key)"
                [matTooltip]="conf.tooltip"
              >
                <mat-icon color="accent">info</mat-icon>
              </button>
            </div>
          </section>
        </mat-expansion-panel>

        <mat-expansion-panel
          id="analytics-expansion-panel"
          (opened)="setFocus(pricingGroups.analytics)"
          (closed)="removeFocus()"
          *ngIf="!focusing || focused(pricingGroups.analytics)"
          [@expand_full]
        >
          <mat-expansion-panel-header>
            <mat-panel-title id="addon-panel-title" class="panel-title">
              <span
                [matBadge]="analyticsChecked"
                matBadgeColor="accent"
                [matBadgeHidden]="analyticsChecked === 0"
                matBadgePosition="below"
                matBadgeSize="small"
              >
                Analytics
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <section
            id="analytics-form"
            role="form"
            [formGroup]="analyticsFormGroup"
          >
            <div *ngFor="let conf of analyticsConfig">
              <mat-checkbox
                [id]="conf.ids[0]"
                [formControlName]="conf.key"
                (change)="renderBadges(pricingGroups.analytics)"
                >{{ conf.name }}</mat-checkbox
              >
              <button
                [id]="conf.ids[1]"
                mat-icon-button
                *ngIf="groupField(pricingGroups.analytics, conf.key)"
                [matTooltip]="conf.tooltip"
              >
                <mat-icon color="accent">info</mat-icon>
              </button>
            </div>
          </section>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>

    <button
      mat-mini-fab
      id="calc-btn"
      color="primary"
      (click)="calculate()"
      matTooltip="Estimate my costs!"
    >
      <mat-icon svgIcon="calculator"></mat-icon>
    </button>
  </mat-card>
</div>

<div id="cost-breakdown-popup" [@expand_popup] [hidden]="!calculated">
  <div id="popup-toolbar">
    <div
      id="total-badge"
      class="mat-elevation-z1"
      aria-label="Total estimated costs"
      aria-live="polite"
    >
      <span id="total-output">Total:</span>
      {{ total | currency }}
    </div>
    <button
      id="popup-exit-btn"
      mat-icon-button
      color="warn"
      (click)="uncalculate()"
      aria-label="Close popup"
      aria-controls="cost-breakdown-popup"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div id="popup-content">
    <app-rate
      *ngFor="let config of enabledConfig"
      [config]="config"
      (totalChanged)="appendToCalculation($event)"
    ></app-rate>
  </div>
</div>
