#pricing {
  position: absolute;
  top: 30%;
  width: 100%;
  bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#calc-btn {
  position: absolute;
  right: 2.5%;
}
#calc-card {
  width: 75%;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 0.5%;
}
#cost-breakdown-popup {
  position: absolute;
  top: 27.5%;
  border-radius: 5px;
}
#popup-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
}
#popup-content {
  overflow-y: auto;
  height: 90%;
}
#total-badge {
  margin-left: 5%;
  margin-top: 0.5%;
  padding-top: 0.5%;
  margin-bottom: 0.5%;
  text-align: center;
  min-width: 20%;
  border-radius: 25px;
}
#total-output {
  float: left;
  padding-left: 10%;
  margin-left: 5%;
}
.align {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 991px) {
  #calc-btn {
    top: 2.5%;
  }
  #cost-breakdown-popup {
    right: 10%;
    width: 80%;
    height: 67.5%;
  }
  #popup-toolbar {
    height: 10%;
  }
  .panel-title {
    padding: 3%;
  }
}
@media (max-width: 992px) {
  #calc-btn {
    bottom: 2.5%;
  }
  #cost-breakdown-popup {
    right: 2.5%;
    width: 95%;
    height: 70%;
  }
  #popup-toolbar {
    height: 12.5%;
  }
  .panel-title {
    padding: 4%;
  }
}
