@use "sass:map";
@use "~@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");

  #gallery-line{
    background-color: map-get($primary-palette, 50);
  }
  .placard {
    background-color: map-get($primary-palette, 200);
  }
  .splash-bg {
    background-color: rgba(map-get($primary-palette, 50), 0.5);
  }
  .bubble {
    fill: map-get($primary-palette, 500);
  }
  .bubble-select {
    fill: map-get($primary-palette, 900);
  }
  .exclaim {
    fill: map-get($accent-palette, 500);
  }
  .exclaim-select {
    fill: map-get($warn-palette, 300);
  }
  .sheet {
    background-color: map-get($primary-palette, 50);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
