<!--Animation Elements; absolute position and existence on screen determined by phase-->
<!--Splash Animations-->
<div 
  role="region" 
  id="splash-svg-animation" 
  aria-label="Splash animation region"
  aria-live="polite"
>
  <svg
    x="0px"
    y="0px"
    viewBox="0 0 508 508"
    id="splash-bubble"
    class="animation"
    width="3%"
    *ngIf="phasedIn(phases.splash) && !lured && oscillating && !mobileMode()"
    [@cntl_scale_slow]="lureScaleCntl.state"
    [@scale]
    (mouseenter)="lure()"
  >
    <path
      [class.bubble]="!lureOscillated()"
      [class.bubble-select]="lureOscillated()"
      [attr.d]="svgConfig.lure.path_1"
    />
    <path
      style="fill: #ffffff"
      [attr.d]="svgConfig.lure.path_2"
    />
    <g>
      <path
        [class.exclaim]="!lureOscillated()"
        [class.exclaim-select]="lureOscillated()"
        [attr.d]="svgConfig.lure.path_3"
      />
      <circle
        [class.exclaim]="!lureOscillated()"
        [class.exclaim-select]="lureOscillated()"
        cx="254"
        cy="295.2"
        r="17.6"
      />
    </g>
  </svg>

  <div
    id="splash-txt"
    class="animation mat-caption"
    *ngIf="oscillations > 3 && !lured"
    style="top: 59.5%; left: 58.5%"
  >
    I know!
  </div>
</div>

<div 
  role="region" 
  id="design-svg-animation" 
  aria-label="Design animation region"
  aria-live="polite"
>
  <section 
    id="design-svg-container"
    aria-label="Design SVG Card"
  >
    <div
      id="design-phase-svg-bg"
      class="placard animation mat-elevation-z3"
      *ngIf="phasedIn(phases.design)"
      [@scale]
    ></div>
    <button
      id="design-phase-svg-numeral"
      mat-icon-button
      class="animation"
      *ngIf="phasedIn(phases.design)"
      [@scale]
      color="accent"
    >
      <mat-icon>looks_one</mat-icon>
    </button>
    <object 
      data="/assets/svgs/design.svg" 
      type="image/svg+xml"
      id="design-phase-svg"
      class="animation"
      [@scale]
      *ngIf="phasedIn(phases.design)"
      aria-labelledby="design-phase-title"
    >
      <!--TODO: <img src="yourfallback.jpg" /> -->
    </object>
  </section>
  <section 
    id="design-text"
    aria-label="Design SVG Captions"
  >
    <h1
      id="design-phase-title"
      class="animation mat-h1"
      *ngIf="phasedIn(phases.design, true)"
      [@cntl_fade]="designLinesFadeCntl[0].state"
    >
      Design
    </h1>
    <div
      id="design-phase-title-underline"
      class="underline animation"
      *ngIf="phasedIn(phases.design, true)"
      [@enlarge]
    ></div>
    <div
      id="design-phase-txt-line-1"
      class="animation mat-h2"
      *ngIf="phasedIn(phases.design, true)"
    >
      <span [@cntl_fade]="designLinesFadeCntl[0].state"
        >the process starts when you schedule a <i>free</i> design session.</span
      >
    </div>
    <div
      id="design-phase-txt-line-2"
      class="animation mat-h2"
      *ngIf="phasedIn(phases.design, true)"
      [@cntl_fade]="designLinesFadeCntl[1].state"
    >
      your ideas will be transformed into
      <a 
        href="https://swagger.io/specification/" 
        target="_blank"
      >
        technical specifications
      </a>
      and
      <a 
        href="https://en.wikipedia.org/wiki/Website_wireframe" 
        target="_blank"
      >
        wireframes
      </a>.
    </div>
    <div
      id="design-phase-txt-line-3"
      class="animation mat-h2"
      *ngIf="phasedIn(phases.design, true)"
      [@cntl_fade]="designLinesFadeCntl[2].state"
    >
      after the design is tailored to your liking and approved, development will
      start.
    </div>
  </section>
</div>

<div 
  id="develop-svg-animation" 
  role="region" 
  aria-label="Develop animation region"
  aria-live="polite">
  <section 
    id="develop-svg"
    aria-label="Develop SVG Card"
  >
    <div
      id="develop-phase-bg"
      class="placard animation mat-elevation-z3"
      [@scale]
      *ngIf="phasedIn(phases.develop)"
    ></div>
    <button
      id="develop-phase-numeral"
      mat-icon-button
      class="animation"
      *ngIf="phasedIn(phases.develop)"
      [@scale]
      color="accent"
    >
      <mat-icon>looks_two</mat-icon>
    </button>
    <object
      id="develop-phase-svg"
      class="animation"
      data="/assets/svgs/develop.svg"
      type="image/svg+xml"
      [@scale]
      *ngIf="phasedIn(phases.develop)"
      aria-labelledby="develop-text"
    >
      <!--TODO: <img src="yourfallback.jpg" /> -->
    </object>
  </section>
  <section 
    id="develop-text"
    aria-label="Develop SVG Captions"
  >
    <h1
      id="develop-phase-title"
      class="animation mat-h1"
      *ngIf="phasedIn(phases.develop, true)"
      [@cntl_fade]="developLinesFadeCntl[0].state"
    >
      Develop
    </h1>
    <div
      id="develop-phase-title-underline"
      class="underline animation"
      *ngIf="phasedIn(phases.develop, true)"
      [@enlarge]
    ></div>
    <div
      id="develop-phase-txt-line-1"
      class="animation mat-h2"
      *ngIf="phasedIn(phases.develop, true)"
      [@cntl_fade]="developLinesFadeCntl[0].state"
    >
      We use the latest libraries to create
      <a
        href="https://en.wikipedia.org/wiki/Single-page_application"
        target="_blank"
        >reactive, responsive</a
      >
      web applications.
    </div>
    <div
      id="develop-phase-txt-line-2"
      class="animation mat-h2"
      *ngIf="phasedIn(phases.develop, true)"
      [@cntl_fade]="developLinesFadeCntl[1].state"
    >
      We build containerized
      <a href="https://en.wikipedia.org/wiki/Microservices" target="_blank"
        >microservices</a
      >
      to implement business logic.
    </div>
    <div
      id="develop-phase-txt-line-3"
      class="animation mat-h2"
      *ngIf="phasedIn(phases.develop, true)"
      [@cntl_fade]="developLinesFadeCntl[2].state"
    >
      We design with scalability and reliability in mind.
    </div>
  </section>
</div>

<div 
  id="deploy-svg-animation" 
  role="region" 
  aria-label="Deploy animation region"
  aria-live="polite"
>
  <section 
    id="deploy-svg" 
    aria-label="Deploy SVG card"
  >
    <div
      id="deploy-phase-svg-bg"
      class="placard animation mat-elevation-z3"
      [@scale]
      *ngIf="phasedIn(phases.deploy)"
    ></div>
    <button
      id="deploy-phase-svg-numeral"
      mat-icon-button
      class="animation"
      *ngIf="phasedIn(phases.deploy)"
      [@scale]
      color="accent"
    >
      <mat-icon>looks_3</mat-icon>
    </button>
    <object
      id="deploy-phase-svg"
      data="/assets/svgs/deploy.svg"
      type="image/svg+xml"
      class="animation"
      [@scale]
      *ngIf="phasedIn(phases.deploy)"
    >
      <!--TODO: <img src="yourfallback.jpg" /> -->
    </object>
  </section>
  <section 
    id="deploy-text"
    aria-label="Deploy animation captions"
  >
    <h1
      id="deploy-phase-title"
      class="animation mat-h1"
      *ngIf="phasedIn(phases.deploy, true)"
      [@cntl_fade]="deployLinesFadeCntl[0].state"
    >
      Deploy
    </h1>
    <div
      id="deploy-phase-title-underline"
      class="underline animation"
      *ngIf="phasedIn(phases.deploy, true)"
      [@enlarge]
    ></div>
    <div
      id="deploy-phase-txt-line-1"
      class="animation mat-h2"
      *ngIf="phasedIn(phases.deploy, true)"
      [@cntl_fade]="deployLinesFadeCntl[0].state"
    >
      When development is complete, we upload your site to the cloud using
      <a 
        href="https://en.wikipedia.org/wiki/Infrastructure_as_code" 
        target="_blank"
      >
        infrastructure as code
      </a>
      (<i style="font-size: small">IaC</i>).
    </div>
    <div
      id="deploy-phase-txt-line-2"
      class="animation mat-h2"
      *ngIf="phasedIn(phases.deploy, true)"
      [@cntl_fade]="deployLinesFadeCntl[1].state"
    >
      We curate a
      <a 
        href="https://github.com/chinchalinchin/cf-deploy" 
        target="_blank"
      >
        repository
      </a>
      of <i>IaC</i> templates, all of which can be deployed in minutes.
    </div>
    <div
      id="deploy-phase-txt-line-3"
      class="animation mat-h2"
      *ngIf="phasedIn(phases.deploy, true)"
      [@cntl_fade]="deployLinesFadeCntl[2].state"
    >
      Whatever your use case, we have the capability of supporting it.
    </div>
  </section>
</div>

<div 
  id="deliver-animation" 
  role="region" 
  aria-label="Deliver animation region"
  aria-live="polite">
  <section id="deliver-svg">
    <div
      id="deliver-phase-svg-bg"
      class="placard animation mat-elevation-z3"
      [@scale]
      *ngIf="phasedIn(phases.deliver)"
    ></div>
    <button
      mat-icon-button
      class="animation"
      style="top: 71.5%; left: 88.5%"
      *ngIf="phasedIn(phases.deliver)"
      [@scale]
      color="accent"
    >
      <mat-icon>looks_4</mat-icon>
    </button>
    <object
      id="deliver-phase-svg"
      data="/assets/svgs/deliver.svg"
      type="image/svg+xml"
      class="animation"
      [@scale]
      *ngIf="phasedIn(phases.deliver)"
    >
      <!--TODO: <img src="yourfallback.jpg" /> -->
    </object>
  </section>
  <section id="deliver-text">
    <h1
      id="deliver-phase-title"
      class="animation mat-h1"
      *ngIf="phasedIn(phases.deliver, true)"
      [@cntl_fade]="deliverLinesFadeCntl[0].state"
    >
      Deliver
    </h1>
    <div
      id="deliver-phase-title-underline"
      class="underline animation"
      *ngIf="phasedIn(phases.deliver, true)"
      [@enlarge_large]
    ></div>
    <div
      id="deliver-phase-txt-line-1"
      class="animation mat-h2"
      *ngIf="phasedIn(phases.deliver, true)"
      [@cntl_fade]="deliverLinesFadeCntl[0].state"
    >
      Before deployment, we
      <a 
        href="https://jmeter.apache.org/" 
        target="_blank"
      >
        performance test
      </a> 
      and
      <a 
        href="https://snyk.io/" 
        target="_blank"
      >
        scan for security vulnerabilities.
      </a>
    </div>
    <div
      id="deliver-phase-txt-line-2"
      class="animation mat-h2"
      *ngIf="phasedIn(phases.deliver, true)"
      [@cntl_fade]="deliverLinesFadeCntl[1].state"
    >
      After deployment, we put in place
      <a
        href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/AlarmThatSendsEmail.html"
        target="_blank"
        >monitoring</a
      >
      and
      <a
        href="https://docs.aws.amazon.com/whitepapers/latest/web-application-hosting-best-practices/failover-with-aws.html"
        target="_blank"
        >failover</a
      >
      procedures.
    </div>
    <div
      id="deliver-phase-txt-line-3"
      class="animation mat-h2"
      *ngIf="phasedIn(phases.deliver, true)"
      [@cntl_fade]="deliverLinesFadeCntl[2].state"
    >
      The final product is reinforced according to the industry's best practices for
      <a href="https://sre.google/sre-book/table-of-contents/" target="_blank"
        >site reliability</a
      >
    </div>
  </section>
</div>

<!--Regular Elements-->
<div id="design" role="region" aria-label="Design content region">
  <div class="center-flex">
    <div
      id="chip-container"
      class="center-flex"
      *ngIf="phasedIn(phases.design) || phasedIn(phases.deploy)"
    >
      <mat-chip-list id="tool-chip-list">
        <mat-chip
          id="tool-chip"
          *ngFor="let tool of toolConfig"
          [disabled]="isChipDisabled(tool.svgIcon)"
        >
          <a
            [href]="tool.href"
            target="_blank"
            class="center"
          >
            <mat-icon
              id="tool"
              [svgIcon]="tool.svgIcon"
              [matTooltip]="tool.tooltip"
              [matTooltipDisabled]="isChipDisabled(tool.svgIcon)"
            ></mat-icon>
          </a>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <div class="v-align splash-bg">
    <div id="splash-animation" role="region" aria-label="Splash animation area">
      <div
        id="first-splash"
        class="splash-banner"
        *ngIf="phasedIn(phases.none)"
      >
        <div
          class="mat-h1 text-center"
          [@cntl_fade]="splashLines1FadeCntl[0].state"
        >
          what sets
        </div>
        <div
          class="fancy-text text-center"
          [@cntl_fade]="splashLines1FadeCntl[1].state"
        >
          the cumberland cloud
        </div>
        <div
          class="mat-h1 text-center"
          [@cntl_fade]="splashLines1FadeCntl[2].state"
        >
          apart?
        </div>
      </div>
      <div
        id="splash-img-container"
        [class.v-align]="!mobileMode()"
        [class.full]="phasedIn(phases.done)"
        [class.thirty]="!phasedIn(phases.done)"
        [@cntl_fade]="splashSrcFadeCntl.state"
      >
        <img
          id="splash-img"
          class="mat-elevation-z4"
          [src]="splashSrc()"
          [@scale]
          *ngIf="phasedIn(phases.splash)"
          (mouseenter)="touchSplash()"
        />

        <img
          id="final-img"
          src="/assets/imgs/circuitry-bg.png"
          *ngIf="phasedIn(phases.done)"
          [@expand_full]
        />
      </div>
      <div
        id="second-splash"
        class="splash-banner"
        *ngIf="phasedIn(phases.splash)"
      >
        <div
          class="mat-h1 text-center"
          [@cntl_fade]="splashLines2FadeCntl[0].state"
        >
          Our approach to crafting
        </div>
        <div
          class="fancy-text text-center"
          [@cntl_fade]="splashLines2FadeCntl[1].state"
        >
          a truly unique
        </div>
        <div
          class="mat-h1 text-center"
          [@cntl_fade]="splashLines2FadeCntl[2].state"
        >
          user experience.
        </div>
      </div>
    </div>
  </div>

  <div id="actions">
    <div>
      <button
        *ngIf="!phasedIn(phases.done)"
        mat-mini-fab
        [disabled]="[phases.none, phases.splash].includes(phase)"
        (click)="decrementPhase()"
        aria-label="Decrement animation"
        aria-controls="splash-animation,design-animation,develop-animation,deploy-animation,deliver-animation"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div>
      <button
        *ngIf="!phasedIn(phases.done)"
        mat-mini-fab
        [disabled]="phases.none === phase || splash !== splashes.touched"
        (click)="incrementPhase()"
        aria-label="Increment animation"
        aria-controls="splash-animation,design-animation,develop-animation,deploy-animation,deliver-animation"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>
