#design{
    position: absolute;
    top: 30%;
    width: 100%;
    height: 60%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#chip-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#design-phase{
    left: 10%;
}
#design-phase-bg{
    left: 7.5%;
    right: 77.5%;
}
#develop-phase{
    left: 30%;
}
#develop-phase-bg{
    left: 27.5%;
    right: 57.5%;
}
#deploy-phase{
    left: 60%;
}
#deploy-phase-bg{
    left: 57.5%;
    right: 27.5%;
}
#deliver-phase{
    left: 80%;
}
#deliver-phase-bg{
    left: 77.5%;
    right: 7.5%;
}
.animation{
    position: absolute;
}
.placard{
    top: 45%;
    bottom: 22.5%;
    border-radius: 25%;
}
