#design{
    position: absolute;
    top: 30%;
    width: 100%;
    height: 60%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#chip-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#design-phase{
    left: 5%;
}
#design-phase-bg{
    left: 2.5%;
    right: 82.5%;
}
#develop-phase{
    left: 25%;
}
#develop-phase-bg{
    left: 22.5%;
    right: 62.5%;
}
#deploy-phase{
    left: 65%;
}
#deploy-phase-bg{
    left: 62.5%;
    right: 22.5%;
}
#deliver-phase{
    left: 85%;
}
#deliver-phase-bg{
    left: 82.5%;
    right: 2.5%;
}
.animation{
    position: absolute;
}
.placard{
    top: 45%;
    bottom: 22.5%;
    border-radius: 25%;
}
