<!--Animated Elements-->
<div
  role="region"
  id="splash-svg-animation"
  aria-label="Splash animation region"
  aria-live="polite"
>
  <svg
    x="0px"
    y="0px"
    viewBox="0 0 508 508"
    id="splash-bubble"
    class="animation"
    [attr.width]="mobileMode() ? '10%' : '3%'"
    *ngIf="phasedIn(phases.splash) && !lured && oscillating"
    [@cntl_scale_slow]="lureScaleCntl.state"
    [@scale]
    (mouseenter)="lure()"
    (click)="lure()"
  >
    <path
      [class.bubble]="!lureOscillated()"
      [class.bubble-select]="lureOscillated()"
      [attr.d]="svgConfig.lure.path_1"
    />
    <path style="fill: #ffffff" [attr.d]="svgConfig.lure.path_2" />
    <g>
      <path
        [class.exclaim]="!lureOscillated()"
        [class.exclaim-select]="lureOscillated()"
        [attr.d]="svgConfig.lure.path_3"
      />
      <circle
        [class.exclaim]="!lureOscillated()"
        [class.exclaim-select]="lureOscillated()"
        cx="254"
        cy="295.2"
        r="17.6"
      />
    </g>
  </svg>
</div>

<div
  role="region"
  id="design-animation"
  aria-label="Design animation region"
  aria-live="polite"
>
  <section
    id="design-svg-container"
    aria-label="Design SVG Card"
    *ngIf="
      mobileMode() ? phasedIn(phases.design, true) : phasedIn(phases.design)
    "
  >
    <div
      id="design-phase-svg-bg"
      class="placard animation mat-elevation-z3"
      [@scale]
    ></div>
    <button
      id="design-phase-svg-numeral"
      mat-icon-button
      class="animation"
      [@scale]
      color="accent"
    >
      <mat-icon>looks_one</mat-icon>
    </button>
    <object
      data="/assets/svgs/design.svg"
      type="image/svg+xml"
      id="design-phase-svg"
      class="animation"
      [@scale]
      aria-labelledby="design-phase-title"
    >
      <!--TODO: <img src="yourfallback.jpg" /> -->
    </object>
  </section>
  <section
    id="design-text-container"
    aria-label="Design SVG Captions"
    *ngIf="phasedIn(phases.design, true)"
  >
    <h1
      id="design-phase-title"
      class="animation mat-h1"
      [@cntl_fade]="designLinesFadeCntl[0].state"
    >
      Design
    </h1>
    <div
      id="design-phase-title-underline"
      class="underline animation"
      [@enlarge]
    ></div>
    <div
      id="design-phase-txt-line-1"
      class="animation"
      [class.mat-h2]="!mobileMode()"
      [class.mat-h3]="mobileMode()"
      [@cntl_fade]="designLinesFadeCntl[0].state"
    >
      <div style="display: flex; flex-direction: row">
        <mat-icon
          class="mobile-bullet"
          svgIcon="cloud_compute"
          *ngIf="mobileMode()"
        ></mat-icon>
        <span>
          the process starts when you schedule a <i>free</i> design session.
        </span>
      </div>
    </div>
    <div
      id="design-phase-txt-line-2"
      class="animation"
      [class.mat-h2]="!mobileMode()"
      [class.mat-h3]="mobileMode()"
      [@cntl_fade]="designLinesFadeCntl[1].state"
    >
      <div style="display: flex; flex-direction: row">
        <mat-icon
          class="mobile-bullet"
          svgIcon="cloud_compute"
          *ngIf="mobileMode()"
        ></mat-icon>
        <span>
          your ideas will be transformed into
          <a
            id="openapi-link"
            href="https://swagger.io/specification/"
            target="_blank"
          >
            technical specifications
          </a>
          and
          <a
            id="wireframe-link"
            href="https://en.wikipedia.org/wiki/Website_wireframe"
            target="_blank"
          >
            wireframes
          </a>
          .
        </span>
      </div>
    </div>
    <div
      id="design-phase-txt-line-3"
      class="animation"
      [class.mat-h2]="!mobileMode()"
      [class.mat-h3]="mobileMode()"
      [@cntl_fade]="designLinesFadeCntl[2].state"
    >
      <div style="display: flex; flex-direction: row">
        <mat-icon
          class="mobile-bullet"
          svgIcon="cloud_compute"
          *ngIf="mobileMode()"
        ></mat-icon>
        <span>
          after the design is tailored to your liking and approved, development
          will start.
        </span>
      </div>
    </div>
  </section>
</div>

<div
  id="develop-animation"
  role="region"
  aria-label="Develop animation region"
  aria-live="polite"
>
  <section
    id="develop-svg-container"
    aria-label="Develop SVG Card"
    *ngIf="
      mobileMode() ? phasedIn(phases.develop, true) : phasedIn(phases.develop)
    "
  >
    <div
      id="develop-phase-svg-bg"
      class="placard animation mat-elevation-z3"
      [@scale]
    ></div>
    <button
      id="develop-phase-svg-numeral"
      mat-icon-button
      class="animation"
      [@scale]
      color="accent"
    >
      <mat-icon>looks_two</mat-icon>
    </button>
    <object
      id="develop-phase-svg"
      class="animation"
      data="/assets/svgs/develop.svg"
      type="image/svg+xml"
      [@scale]
      aria-labelledby="develop-phase-title"
    >
      <!--TODO: <img src="yourfallback.jpg" /> -->
    </object>
  </section>
  <section
    id="develop-text-container"
    aria-label="Develop SVG Captions"
    *ngIf="phasedIn(phases.develop, true)"
  >
    <h1
      id="develop-phase-title"
      class="animation mat-h1"
      [@cntl_fade]="developLinesFadeCntl[0].state"
    >
      Develop
    </h1>
    <div
      id="develop-phase-title-underline"
      class="underline animation"
      [@enlarge]
    ></div>
    <div
      id="develop-phase-txt-line-1"
      class="animation"
      [class.mat-h2]="!mobileMode()"
      [class.mat-h3]="mobileMode()"
      [@cntl_fade]="developLinesFadeCntl[0].state"
    >
      <div style="display: flex; flex-direction: row">
        <mat-icon
          class="mobile-bullet"
          svgIcon="cloud_compute"
          *ngIf="mobileMode()"
        ></mat-icon>
        <span>
          We use the latest libraries to create
          <a
            id="spa-link"
            href="https://en.wikipedia.org/wiki/Single-page_application"
            target="_blank"
          >
            reactive, responsive
          </a>
          web applications.
        </span>
      </div>
    </div>
    <div
      id="develop-phase-txt-line-2"
      class="animation"
      [class.mat-h2]="!mobileMode()"
      [class.mat-h3]="mobileMode()"
      [@cntl_fade]="developLinesFadeCntl[1].state"
    >
      <div style="display: flex; flex-direction: row">
        <mat-icon
          class="mobile-bullet"
          svgIcon="cloud_compute"
          *ngIf="mobileMode()"
        ></mat-icon>
        <span>
          We build containerized
          <a
            id="microservice-link"
            href="https://en.wikipedia.org/wiki/Microservices"
            target="_blank"
          >
            microservices
          </a>
          to implement business logic.
        </span>
      </div>
    </div>
    <div
      id="develop-phase-txt-line-3"
      class="animation"
      [class.mat-h2]="!mobileMode()"
      [class.mat-h3]="mobileMode()"
      [@cntl_fade]="developLinesFadeCntl[2].state"
    >
      <div style="display: flex; flex-direction: row">
        <mat-icon
          class="mobile-bullet"
          svgIcon="cloud_compute"
          *ngIf="mobileMode()"
        ></mat-icon>
        <span> We design with scalability and reliability in mind. </span>
      </div>
    </div>
  </section>
</div>

<div
  id="deploy-svg-animation"
  role="region"
  aria-label="Deploy animation region"
  aria-live="polite"
>
  <section
    id="deploy-svg-container"
    aria-label="Deploy SVG card"
    *ngIf="
      mobileMode() ? phasedIn(phases.deploy, true) : phasedIn(phases.deploy)
    "
  >
    <div
      id="deploy-phase-svg-bg"
      class="placard animation mat-elevation-z3"
      [@scale]
    ></div>
    <button
      id="deploy-phase-svg-numeral"
      mat-icon-button
      class="animation"
      [@scale]
      color="accent"
    >
      <mat-icon>looks_3</mat-icon>
    </button>
    <object
      id="deploy-phase-svg"
      data="/assets/svgs/deploy.svg"
      type="image/svg+xml"
      class="animation"
      [@scale]
      aria-labelledby="deploy-phase-title"
    >
      <!--TODO: <img src="yourfallback.jpg" /> -->
    </object>
  </section>
  <section
    id="deploy-text-container"
    aria-label="Deploy animation captions"
    *ngIf="phasedIn(phases.deploy, true)"
  >
    <h1
      id="deploy-phase-title"
      class="animation mat-h1"
      [@cntl_fade]="deployLinesFadeCntl[0].state"
    >
      Deploy
    </h1>
    <div
      id="deploy-phase-title-underline"
      class="underline animation"
      [@enlarge]
    ></div>
    <div
      id="deploy-phase-txt-line-1"
      class="animation"
      [class.mat-h2]="!mobileMode()"
      [class.mat-h3]="mobileMode()"
      [@cntl_fade]="deployLinesFadeCntl[0].state"
    >
      <div style="display: flex; flex-direction: row">
        <mat-icon
          class="mobile-bullet"
          svgIcon="cloud_compute"
          *ngIf="mobileMode()"
        ></mat-icon>
        <span [class.fill]="!mobileMode()">
          When development is complete, we upload your site to the cloud using
          <a
            id="iac-link"
            href="https://en.wikipedia.org/wiki/Infrastructure_as_code"
            target="_blank"
          >
            infrastructure as code
          </a>
          (<i style="font-size: small">IaC</i>).
        </span>
      </div>
    </div>
    <div
      id="deploy-phase-txt-line-2"
      class="animation"
      [class.mat-h2]="!mobileMode()"
      [class.mat-h3]="mobileMode()"
      [@cntl_fade]="deployLinesFadeCntl[1].state"
    >
      <div style="display: flex; flex-direction: row">
        <mat-icon
          class="mobile-bullet"
          svgIcon="cloud_compute"
          *ngIf="mobileMode()"
        ></mat-icon>
        <span [class.fill]="!mobileMode()">
          We curate a
          <a
            id="repository-link"
            href="https://github.com/chinchalinchin/cf-deploy"
            target="_blank"
          >
            repository
          </a>
          of <i>IaC</i> templates, all of which can be deployed in minutes.
        </span>
      </div>
    </div>
    <div
      id="deploy-phase-txt-line-3"
      class="animation"
      [class.mat-h2]="!mobileMode()"
      [class.mat-h3]="mobileMode()"
      [@cntl_fade]="deployLinesFadeCntl[2].state"
    >
      <div style="display: flex; flex-direction: row">
        <mat-icon
          class="mobile-bullet"
          svgIcon="cloud_compute"
          *ngIf="mobileMode()"
        ></mat-icon>
        <span [class.fill]="!mobileMode()">
          Whatever your use case, we have the capability of supporting it.
        </span>
      </div>
    </div>
  </section>
</div>

<div
  id="deliver-animation"
  role="region"
  aria-label="Deliver animation region"
  aria-live="polite"
>
  <section
    id="deliver-svg-container"
    *ngIf="
      mobileMode() ? phasedIn(phases.deliver, true) : phasedIn(phases.deliver)
    "
  >
    <div
      id="deliver-phase-svg-bg"
      class="placard animation mat-elevation-z3"
      [@scale]
    ></div>
    <button
      id="deliver-phase-svg-numeral"
      mat-icon-button
      class="animation"
      [@scale]
      color="accent"
    >
      <mat-icon>looks_4</mat-icon>
    </button>
    <object
      id="deliver-phase-svg"
      data="/assets/svgs/deliver.svg"
      type="image/svg+xml"
      class="animation"
      [@scale]
      aria-labelledby="deliver-phase-title"
    >
      <!--TODO: <img src="yourfallback.jpg" /> -->
    </object>
  </section>
  <section id="deliver-text" *ngIf="phasedIn(phases.deliver, true)">
    <h1
      id="deliver-phase-title"
      class="animation mat-h1"
      [@cntl_fade]="deliverLinesFadeCntl[0].state"
    >
      Deliver
    </h1>
    <div
      id="deliver-phase-title-underline"
      class="underline animation"
      [@enlarge_large]
    ></div>
    <div
      id="deliver-phase-txt-line-1"
      class="animation"
      [class.mat-h2]="!mobileMode()"
      [class.mat-h3]="mobileMode()"
      [@cntl_fade]="deliverLinesFadeCntl[0].state"
    >
      <div style="display: flex; flex-direction: row">
        <mat-icon
          class="mobile-bullet"
          svgIcon="cloud_compute"
          *ngIf="mobileMode()"
        ></mat-icon>
        <span [class.fill]="!mobileMode()">
          Before deployment, we
          <a href="https://jmeter.apache.org/" target="_blank">
            performance test
          </a>
          and
          <a href="https://snyk.io/" target="_blank">
            scan for security vulnerabilities.
          </a>
        </span>
      </div>
    </div>
    <div
      id="deliver-phase-txt-line-2"
      class="animation"
      [class.mat-h2]="!mobileMode()"
      [class.mat-h3]="mobileMode()"
      [@cntl_fade]="deliverLinesFadeCntl[1].state"
    >
      <div style="display: flex; flex-direction: row">
        <mat-icon
          class="mobile-bullet"
          svgIcon="cloud_compute"
          *ngIf="mobileMode()"
        ></mat-icon>
        <span [class.fill]="!mobileMode()">
          After deployment, we put in place
          <a
            href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/AlarmThatSendsEmail.html"
            target="_blank"
          >
            monitoring
          </a>
          and
          <a
            href="https://docs.aws.amazon.com/whitepapers/latest/web-application-hosting-best-practices/failover-with-aws.html"
            target="_blank"
          >
            failover
          </a>
          procedures.
        </span>
      </div>
    </div>
    <div
      id="deliver-phase-txt-line-3"
      class="animation"
      [class.mat-h2]="!mobileMode()"
      [class.mat-h3]="mobileMode()"
      *ngIf="phasedIn(phases.deliver, true)"
      [@cntl_fade]="deliverLinesFadeCntl[2].state"
    >
      <div style="display: flex; flex-direction: row">
        <mat-icon
          class="mobile-bullet"
          svgIcon="cloud_compute"
          *ngIf="mobileMode()"
        ></mat-icon>
        <span [class.fill]="!mobileMode()">
          The final product is reinforced according to the industry's best
          practices for
          <a
            href="https://sre.google/sre-book/table-of-contents/"
            target="_blank"
          >
            site reliability
          </a>
        </span>
      </div>
    </div>
  </section>
</div>

<!--Regular Elements-->
<div id="design" role="region" aria-label="Design content region">
  <div class="center-flex" *ngIf="!mobileMode()">
    <div
      id="chip-container"
      class="center-flex"
      *ngIf="phasedIn(phases.design) || phasedIn(phases.deploy)"
    >
      <mat-chip-list id="tool-chip-list">
        <mat-chip
          id="tool-chip"
          *ngFor="let tool of toolConfig"
          [disabled]="isChipDisabled(tool.svgIcon)"
        >
          <a [href]="tool.href" target="_blank" class="center">
            <mat-icon
              id="tool"
              [svgIcon]="tool.svgIcon"
              [matTooltip]="tool.tooltip"
              [matTooltipDisabled]="isChipDisabled(tool.svgIcon)"
            ></mat-icon>
          </a>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <div class="v-align splash-bg">
    <div id="splash-animation" role="region" aria-label="Splash animation area">
      <div
        id="first-splash"
        class="splash-banner"
        *ngIf="phasedIn(phases.none)"
      >
        <div
          class="mat-h1 text-center"
          [@cntl_fade]="splashLines1FadeCntl[0].state"
        >
          what sets the
        </div>
        <div
          class="fancy-text text-center company-title"
          [@cntl_fade]="splashLines1FadeCntl[1].state"
        >
          cumberland cloud
        </div>
        <div
          class="mat-h1 text-center"
          [@cntl_fade]="splashLines1FadeCntl[2].state"
        >
          apart?
        </div>
      </div>
      <div
        id="splash-img-container"
        [class.v-align]="!mobileMode()"
        [class.full]="phasedIn(phases.done)"
        [class.thirty]="!phasedIn(phases.done)"
        [@cntl_fade]="splashSrcFadeCntl.state"
      >
        <img
          id="splash-img"
          class="mat-elevation-z4"
          [src]="splashSrc()"
          [@scale]
          *ngIf="phasedIn(phases.splash)"
          (mouseenter)="touchSplash()"
        />

        <section 
          id="project-gallery" 
          class="full" 
          aria-label="Example projects"
          *ngIf="phasedIn(phases.done)"
        >
          <h2 id="gallery-title" class="mat-h2 text-center">Projects</h2>
          <div id="gallery-line" class="mat-elevation-z2">
            <div id="innolab-gallery" class="gallery-item">
              <h3 id="innolab-gallery-subtitle" class="mat-h3 gallery-subtitle">Innovation Lab</h3>
              <a
                id="innolab-link" 
                href="https://laboratory-dev.makpar-innovation.net"
                target="_blank"
                matTooltip="Makpar Innovation Lab Home Page"
              >
              <img 
                id="innolab-img"
                class="gallery-img mat-elevation-z3"
                src="/assets/imgs/innolab.png"
                alt="Makpar Innovation Lab Homepage"
                aria-labelledby="innolab-gallery-subtitle"
                [@expand_full]
                />
              </a>
            </div>
            <div id="gsa-gallery" class="gallery-item">
              <h3 id="gsa-gallery-subtitle" class="mat-h3 gallery-subtitle">Buy@GSA</h3>
              <a 
                id="gsa-link"
                href="https://buy.gsa.gov"
                target="_blank"
                matTooltip="Buy@GSA Homepage"
              >
                <img 
                  id="gsa-img"
                  class="gallery-img mat-elevation-z3"
                  src="/assets/imgs/gsa.png"
                  alt="Buy@GSA Homepage"
                  aria-labelledby="gsa-gallery-subtitle"
                  [@expand_full]
                />
              </a>
            </div>
            <div id="scrilla-gallery" class="gallery-item">
              <h3 id="scrilla-gallery-subtitle" class="mat-h3 gallery-subtitle">Scrilla</h3>
              <a 
                id="scrilla-link"
                href="https://chinchalinchin.github.io/scrilla/OVERVIEW.html"
                target="_blank"
                matTooltip="Scrilla Documentation Homepage"
              >
                <img 
                  id="scrilla-img"
                  class="gallery-img mat-elevation-z3"
                  src="/assets/imgs/scrilla.png"
                  alt="Scrilla Doc Homepage"
                  [@expand_full]
                />
              </a>
            </div>
          </div>
          <div>
            Check out some of <span class="fancy-text" style="font-size: 1em;">Cumberland Cloud's</span> projects
          </div>
          

          <!-- <img
            id="final-img"
            src="/assets/imgs/circuitry-bg.png"
            alt="Circuitry background image"
            *ngIf="phasedIn(phases.done)"
            [@expand_full]
          /> -->
        </section>
      </div>
      <div
        id="second-splash"
        class="splash-banner"
        *ngIf="phasedIn(phases.splash)"
      >
        <div
          class="mat-h1 text-center"
          [@cntl_fade]="splashLines2FadeCntl[0].state"
          *ngIf="!mobileMode()"
        >
          Our approach to crafting
        </div>
        <div
          class="fancy-text text-center"
          [@cntl_fade]="
            mobileMode()
              ? splashLines2FadeCntl[0].state
              : splashLines2FadeCntl[1].state
          "
        >
          {{
            mobileMode() ? "our unique approach to design" : "a truly unique"
          }}
        </div>
        <div
          class="mat-h1 text-center"
          [@cntl_fade]="splashLines2FadeCntl[2].state"
          *ngIf="!mobileMode()"
        >
          user experience.
        </div>
      </div>
    </div>
  </div>

  <div id="actions">
    <div>
      <button
        *ngIf="!phasedIn(phases.done)"
        mat-mini-fab
        [disabled]="[phases.none, phases.splash].includes(phase)"
        (click)="decrementPhase()"
        aria-label="Decrement animation"
        aria-controls="splash-animation,design-animation,develop-animation,deploy-animation,deliver-animation"
        matRipple
        matRippleColor="rgba(255,255,255,0.3)"
        [matRippleRadius]="100"
        [matRippleUnbounded]="true"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div>
      <button
        *ngIf="!phasedIn(phases.done)"
        mat-mini-fab
        [disabled]="phases.none === phase || splash !== splashes.touched"
        (click)="incrementPhase()"
        aria-label="Increment animation"
        aria-controls="splash-animation,design-animation,develop-animation,deploy-animation,deliver-animation"
        matRipple
        matRippleColor="rgba(255,255,255,0.3)"
        [matRippleRadius]="100"
        [matRippleUnbounded]="true"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>
