#design{
    position: absolute;
    top: 30%;
    width: 100%;
    height: 60%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
#chip-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#splash-img{
    border-radius: 20%;
}
#splash-bubble{
    top: 52%;
    left: 58%;
}
#design-title{
    top: 23.5%;
    left: 29%;
}
#design-phase{
    left: 5%;
}
#design-phase-bg{
    left: 2.5%;
    right: 82.5%;
}
#develop-title{
    top: 23.5%;
    left: 42.5%;
}
#develop-phase{
    left: 25%;
}
#develop-phase-bg{
    left: 22.5%;
    right: 62.5%;
}
#deploy-phase{
    left: 65%;
}
#deploy-phase-bg{
    left: 62.5%;
    right: 22.5%;
}
#deliver-phase{
    left: 85%;
}
#deliver-phase-bg{
    left: 82.5%;
    right: 2.5%;
}
#actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-top: -1.5%;
}
.animation{
    position: absolute;
    z-index: 1;
}
.placard{
    top: 45%;
    bottom: 22.5%;
    border-radius: 25%;
}
.center-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.space-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.splash-banner{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}