<div class="sheet">
  <h1 class="mat-display-4 text-center">Cumberland Cloud</h1>
  <div id="social-links">
    <div><mat-icon svgIcon="github" alt="Github Icon" matTooltip="Github Repositories"></mat-icon></div>
    <div><mat-icon svgIcon="pypi" alt="PyPi Icon" matTooltip="PyPi Packages" class="suppress"></mat-icon></div>
  </div>

  <div class="line-item">
    <div><strong>EMAIL</strong></div>
    <div class="sep"></div>
    <div><a class="mat-body-1" href="mailto:design@cumberland-cloud.com">design@cumberland-cloud.com</a></div>
  </div>

  <div class="line-item">
    <div><strong>PHONE</strong></div>
    <div class="sep"></div>
    <div><a class="mat-body-1" href="tel:301-697-9801">301-697-9801</a></div>
  </div>

  <div class="line-item">
    <div><strong>ADDRESS</strong></div>
    <div class="sep"></div>
    <div>401 North Mechanic Street <br> Cumberland, MD 21502</div>
  </div>

  <div class="line-item">
    <div><strong>HOURS</strong></div>
    <div class="sep"></div>
    <div>MTWTF 8AM - 5PM</div>
  </div>

</div>