<div class="sheet">
  <h1 class="mat-display-2 text-center">Contact Information</h1>
  <div id="social-links">
    <div>
      <a href="https://github.com/chinchalinchin" target="_blank">
        <mat-icon svgIcon="github" alt="Github Icon" matTooltip="Github Repositories"></mat-icon>
      </a>
    </div>
    <div style="margin-left: 1.25%;">
      <a href="https://pypi.org/user/chinchalinchin/" target="_blank">
        <mat-icon svgIcon="pypi" alt="PyPi Icon" matTooltip="PyPi Packages"></mat-icon>
      </a>
    </div>
  </div>

  <div class="line-item">
    <div><strong>EMAIL</strong></div>
    <div class="sep"></div>
    <div><a class="mat-body-1" href="mailto:design@cumberland-cloud.com">design@cumberland-cloud.com</a></div>
  </div>

  <div class="line-item">
    <div><strong>PHONE</strong></div>
    <div class="sep"></div>
    <div><a class="mat-body-1" href="tel:301-697-9801">301-697-9801</a></div>
  </div>

  <div class="line-item">
    <div><strong>ADDRESS</strong></div>
    <div class="sep"></div>
    <div>401 North Mechanic Street <br> Cumberland, MD 21502</div>
  </div>

  <div class="line-item">
    <div><strong>HOURS</strong></div>
    <div class="sep"></div>
    <div>MTWTF 8AM - 5PM</div>
  </div>

</div>