.article-header {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}
.pointer {
  cursor: pointer;
}
.link {
  text-decoration: underline;
  cursor: pointer;
}
.inline-aside {
  font-size: x-small;
}
.article-img {
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
}
.img-container {
  display: flex;
  flex-direction: row;
}
@media (min-width: 991px) {
  .img-container {
    flex-direction: row;
  }
  .article-fig {
    min-width: 25%;
    margin-top: auto;
    margin-bottom: auto;
  }
  .fig-md {
    max-width: 35%;
  }
  .fig-lg {
    max-width: 50%;
  }
}
@media (max-width: 992px) {
  .img-container {
    flex-direction: column;
  }
}
