:host {
  perspective: 600px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  border-radius: 25px;
}

#about {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#about-bg {
  position: absolute;
  top: 55%;
  bottom: 0%;
  right: 0%;
  left: 0%;
}
#placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  border-style: dotted;
  border-width: 1px 0 0 0;
}
#profile-card {
  border: solid;
  border-width: 1px;
}
#flipper {
  padding-top: 1%;
  overflow-y: auto;
}
.profile-pic {
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  position: relative;
  top: -25%;
}
.banner {
  padding: 2.5%;
  height: 2.5%;
  border-radius: 5%;
}
.banner-selected {
  border-radius: 50%;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.actions {
  position: absolute;
}
.clicker {
  z-index: 9;
  cursor: pointer;
}
.profile-underline {
  position: absolute;
  border: dashed;
  border-width: 0px 0px 1px 0px;
  width: 100%;
}

@media (max-width: 992px) {
  #about {
    top: 30%;
    height: 70%;
  }
  #profile-card {
    height: 90%;
  }
  .mobile-title {
    padding-top: -5%;
  }
  .mobile-viewport {
    max-height: 22.5vh;
  }
  .actions {
    left: 47.5%;
    bottom: 0%;

  }
  .profile-pic {
    max-width: 150px;
  }
  .profile-pic-container {
    margin-bottom: -5.5%;
  }
  #profile-header {
    height: 45%;
    margin-bottom: -5%;

  }
  .profile-scroller{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    overflow-y: auto;
    border-radius: 15px;
  }
}
@media (min-width: 991px) {
  #about {
    top: 40%;
    height: 60%;
  }
  #profile-card {
    position: absolute;
    transform-style: preserve-3d;
    width: 40%;
    height: 75%;
  }
  #who-banner {
    top: 10%;
    left: 3.5%;
    width: 20%;
    height: 20%;
  }
  #who-cloud {
    top: 25%;
    left: -2.5%;
  }
  #mathematician-toggle {
    top: 57.5%;
    left: 10%;
  }
  #technologist-toggle {
    top: 68.5%;
    left: 10%;
  }
  #educator-toggle {
    top: 80%;
    left: 10%;
  }
  #what-banner {
    top: 10%;
    right: 2%;
    width: 20%;
    height: 20%;
  }
  #what-cloud {
    top: 25%;
    right: -2.5%;
  }
  #development-toggle {
    top: 68.5%;
    right: 7.5%;
  }
  #architecture-toggle {
    top: 57.5%;
    right: 7.5%;
  }
  #design-toggle {
    top: 80%;
    right: 7.5%;
  }
  .actions {
    right: 2.5%;
  }
  .back {
    transform: rotateY(180deg);
  }
  .face {
    backface-visibility: hidden;
  }
  .flipped{
    bottom: -15%;
  }
  .unflipped{
    bottom: -7.5%;
  }
  .profile-pic-container {
    width: 30%;
  }
}
