/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.v-align{
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

mat-card img{
  object-fit: cover;
  width: 100%;
}

.mat-tab-body-wrapper{
  height: 100% !important;
}
.mat-tab-body-content{
  overflow: hidden !important;
}