/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: 'LoveSummer';
  src: url('/assets/fonts/LoveSummer.otf') format('truetype');
}
@font-face{
  font-family: 'FancyCursive';
  src: url('/assets/fonts/NgutangDong.ttf') format('truetype');
}
/****/
html, body { 
  height: 100%; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  overflow: hidden;}
mat-card img{
  object-fit: cover;
  width: 100%;
}
.no-underline{
  text-decoration: none;
}
/****/
.title-text{ 
  font-family: 'LoveSummer';
  line-height: 0; 
}
.fancy-text{ 
  font-family: 'FancyCursive'; 
  line-height: 0.5 
}

.v-align{
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.h-align{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.spacer{
  flex-grow: 1;
}
.text-center{
  text-align: center;
}
.transparent{
  opacity: 0.95;
}
.fill{
  width: 100%;
}
.mat-tab-body-wrapper{
  height: 100% !important;
}
.mat-tab-body-content{
  overflow: hidden !important;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2.5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
}

@media(min-width:431px) {
  .fancy-text{
    font-size: 2em;
  }
  .title-text{
    font-size:7em; 
  }
}
@media(max-width:430px){
  .fancy-text{
    font-size: 1em;
  }
  .title-text{
    font-size:5em;
  }
}