/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: 'LoveSummer';
  src: url('/assets/fonts/LoveSummer.otf') format('truetype');
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden;}

.title-text{ font-family: 'LoveSummer'; font-size:10vw; line-height: 0; }

.v-align{
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.h-align{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.spacer{
  flex-grow: 1;
}
.text-center{
  text-align: center;
}
.transparent{
  opacity: 0.95;
}
mat-card img{
  object-fit: cover;
  width: 100%;
}

.mat-tab-body-wrapper{
  height: 100% !important;
}
.mat-tab-body-content{
  overflow: hidden !important;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}