@use "sass:map";
@use "~@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");

  #article {
    background-color: map-get($primary-palette, 100);
  }
  #article-sheet {
    background-color: map-get($primary-palette, 50);
  }
  #toc-tree {
    background-color: white;
  }
  #toc-toggle{
    color: map-get($accent-palette, 500);
  }
  .highlighted {
    background-color: map-get($primary-palette, 200) !important;
  }
  .article-header {
    background-color: white;
    border-color: map-get($primary-palette, 500);
  }
  .link {
    color: map-get($warn-palette, 800);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
