#article {
  position: absolute;
  border-radius: 15px;
}
#article-sheet {
  position: absolute;
  top: 7.5%;
  right: 1%;
  bottom: 2%;
  border-radius: 15px 0 0 15px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 1%;
  padding-right: 1%;
}
#share-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#toc-tree{
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  border-radius: 15px;
}
#toc-toggle{
  position: absolute;
  bottom: 1%;
  top: 48.5%;
}
.share-item {
  margin-right: 0.5%;
  margin-top: 0.25%;
}
.chevron {
  width: 2%;
  cursor: pointer;
}

@media (min-width:991px){
  #article {
    top: 30%;
    left: 5%;
    right: 5%;
    bottom: 2.5%;
  }
  #article-sheet{
    left: 2%;
  }
  #toc-toggle{
    right: 1%;
  }
  .toc-root{
    margin-left: 10%;
  }
  .toc-child{
    margin-left: 20%;
  }
}
@media (max-width:992px){
  #article{
    top: 25%;
    left: 0%;
    right: 0%;
    bottom: 1.5%;
  }
  #article-sheet{
    left: 5.5%;
  }
  #toc-toggle{
    right: 0%;
  }
  .toc-root{
    margin-left: 5%;
  }
  .toc-child{
    margin-left: 10%;
  }

}