#article {
  position: absolute;
  top: 30%;
  left: 5%;
  right: 5%;
  bottom: 2.5%;
  border-radius: 15px;
}
#article-sheet {
  position: absolute;
<<<<<<< HEAD
  top: 7.5%;
=======
  top: 2%;
>>>>>>> 34b77a3cb292255a251d082fd5c7b4b8a058732c
  right: 1%;
  left: 1%;
  bottom: 2%;
  border-radius: 15px 0 0 15px;
  overflow-y: auto;
  padding-left: 1%;
  padding-right: 1%;
<<<<<<< HEAD
}
.chevron {
  width: 2%;
  cursor: pointer;
=======
>>>>>>> 34b77a3cb292255a251d082fd5c7b4b8a058732c
}
