<div id="article">
  <div id="share-panel" role="region">
    <div class="share-item">
      <a
        href="https://twitter.com/share?ref_src=twsrc%5Etfw"
        class="twitter-share-button"
        data-show-count="false"
        role="button"
        >Tweet</a
      >
    </div>
    <div class="share-item">
      <iframe
        [src]="facebookShareUrl | safe: 'resourceUrl'"
        width="67"
        height="20"
        style="border: none; overflow: hidden; border-radius: 9999px"
        scrolling="no"
        frameborder="0"
        allowfullscreen="true"
        role="button"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      ></iframe>
    </div>
    <div #linkedIn class="share-item">
      <script type="IN/Share" data-url="https://www.linkedin.com"></script>
    </div>
  </div>

  <div id="article-sheet" class="mat-elevation-z1" role="Region">
    <markdown 
      *ngIf="article && article.data" 
      class="mat-body" 
      [data]="article.data"
    ></markdown>
  </div>

  <div
    id="toc-tree"
    class="mat-elevation-z2"
    [class.highlighted]="highlighted"
    [@cntl_enlarge_desktop]="mobileMode() ? null : tocExpandCntl.state"
    [@cntl_enlarge_mobile]="mobileMode() ? tocExpandCntl.state : null"
    (mouseenter)="highlight()"
    (mouseleave)="highlighted = false"
    (click)="toggleTocTree()"
    aria-live="polite"
  >
    <div *ngIf="expanded" [@fade]>
      <h2 class="mat-h2 text-center">Table of Contents</h2>
      <div *ngFor="let toc of article.article_config.toc_tree" class="toc-root">
        <span (click)="scrollTo(toc.id)" class="link">
          {{ toc.title }}
        </span>
        <div *ngIf="toc.children" class="toc-child">
          <div *ngFor="let child of toc.children">
            <span (click)="scrollTo(child.id)" class="link">
              {{ child.title }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <mat-icon
      id="toc-toggle"
      class="cursor"
      role="button"
      aria-controls="toc-tree"
      aria-label="Expand Table of Contents"
      matTooltip="Expand Table of Contents"
    >
      {{ tocExpandCntl.fired() ? "chevron_left" : "chevron_right" }}
    </mat-icon>
  </div>
</div>
