<div id="article">
  <div id="share-panel">
    <div class="share-item">
      <a
        href="https://twitter.com/share?ref_src=twsrc%5Etfw"
        class="twitter-share-button"
        data-show-count="false"
        >Tweet</a
      >
    </div>
    <div class="share-item">
      <iframe
        [src]="facebookShareUrl | safe: 'resourceUrl'"
        width="67"
        height="20"
        style="border: none; overflow: hidden; border-radius: 9999px"
        scrolling="no"
        frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      ></iframe>
    </div>
    <div #linkedIn class="share-item">
      <script type="IN/Share" data-url="https://www.linkedin.com"></script>
    </div>
  </div>
  <div id="article-sheet" class="mat-elevation-z1">
    <markdown class="mat-body" [src]="article.src"></markdown>
  </div>

  <div
    id="toc-tree"
    class="mat-elevation-z2"
    [class.highlighted]="highlighted"
    [@cntl_enlarge_desktop]="mobileMode() ? null : tocExpandCntl.state"
    [@cntl_enlarge_mobile]="mobileMode() ? tocExpandCntl.state : null"
    (mouseenter)="highlight()"
    (mouseleave)="highlighted = false"
    (click)="toggleTocTree()"
  >
    <div *ngIf="expanded" [@fade]>
      <h2 class="mat-h2 text-center">Table of Contents</h2>
    </div>

    <mat-icon
      id="toc-toggle"
      class="cursor"
      (click)="toggleTocTree()"
      role="button"
    >
      {{ tocExpandCntl.fired() ? "chevron_left" : "chevron_right" }}
    </mat-icon>
  </div>
</div>
