#article {
  position: absolute;
  top: 30%;
  left: 5%;
  right: 5%;
  bottom: 2.5%;
  border-radius: 15px;
}
#article-sheet {
  position: absolute;
  top: 7.5%;
  right: 1%;
  left: 1%;
  bottom: 2%;
  border-radius: 15px 0 0 15px;
  overflow-y: auto;
  padding-left: 1%;
  padding-right: 1%;
}
#share-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.share-item {
  margin-right: 0.5%;
  margin-top: 0.25%;
}
.chevron {
  width: 2%;
  cursor: pointer;
}
