<div
  id="tray"
  class="mat-elevation-z3"
  [class.tabbed]="!extended"
  [@cntl_position_tray]="positionCntl.state"
  [@expand]
>
  <div id="news-container" *ngIf="extended || extending" aria-live="polite">
    <div id="preview" class="news-item" *ngIf="!extending" role="section">
      <div id="preview-panel" class="panel-pane">
        <h2 class="mat-h2">
          {{ mobileMode() ? "Latest" : "Latest Article" }}
        </h2>
        <div id="preview-img-container">
          <img
            [id]="latest.article_config.preview.img.id"
            [src]="latest.article_config.preview.img.src"
            [alt]="latest.article_config.preview.img.alt"
            [title]="latest.article_config.preview.img.title"
            class="preview-img panel-img"
          />
        </div>
      </div>

      <div id="preview-content" class="content-pane mat-elevation-z3">
        <div>
          <h3 class="mat-h3">
            {{ latest.article_config.title }}
            <span *ngIf="!mobileMode()" style="float: right" class="mat-body">
              {{ latest.date | date }}
            </span>
          </h3>
          <div
            *ngIf="mobileMode()"
            style="float: left; margin-top: -5%"
            class="mat-body"
          >
            {{ latest.date | date }}
          </div>
        </div>
        <p
          id="preview-text"
          class="mat-body"
          *ngIf="!mobileMode()"
          [innerHTML]="latest.article_config.preview.content"
        ></p>
        <button
          id="preview-btn"
          mat-icon-button
          [routerLink]="['blog', 'article', latest.id]"
        >
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div id="archive" class="news-item" *ngIf="!extending">
      <div id="archive-content" class="content-pane">
        <div class="archive-item mat-elevation-z3" *ngFor="let article of feed">
          <h4 class="mat-h4" *ngIf="!mobileMode()">
            {{ article.article_config.title }}
            <button
              class="archive-btn"
              mat-icon-button
              [routerLink]="['blog', 'article', article.id]"
            >
              <mat-icon>open_in_new</mat-icon>
            </button>
          </h4>
          <p 
            *ngIf="!mobileMode()" 
            class="mat-caption" 
            style="margin-top: -5%">
            {{ article.date | date }}
          </p>
          <a 
            class="tray-link"
            *ngIf="mobileMode()"
            [routerLink]="['blog', 'article', article.id]">
            &bull; {{ article.article_config.title }}
          </a>
        </div>
      </div>
      <div id="archive-panel" class="panel-pane">
        <h2 *ngIf="!mobileMode()" class="mat-h2">Archive Feed</h2>
        <div id="archive-img-container">
          <img
            id="archive-img"
            src="/assets/svgs/archive.svg"
            alt="Archive of Cumberland Cloud blogs"
            title="Cumberland Cloud Archive"
            class="archive-img panel-img"
          />
        </div>
        <h2 *ngIf="mobileMode()" class="mat-h2">Archive</h2>
      </div>
    </div>
  </div>

  <div id="chevron-container" (click)="extend()">
    <span
      id="article-label"
      *ngIf="!extended"
      class="mat-caption fill text-center"
      matTooltip="Read the latest article from the Cumberland Cloud"
    >
      Articles
    </span>
    <mat-icon
      id="extend-btn"
      role="button"
      aria-controls="tray"
      aria-label="Open blog tray menu"
      [svgIcon]="extended ? 'chevron_up' : 'chevron_down'"
      [matTooltip]="
        extended ? 'Collpase menu' : 'Read the Cumberland Cloud blog'
      "
    >
    </mat-icon>
    <span
      id="archive-label"
      *ngIf="!extended"
      class="mat-caption fill text-center"
      matTooltip="Read past articles from the Cumberland Cloud"
    >
      Archive
    </span>
  </div>
</div>
