#tray {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 999;
}
#news-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

  padding-top: 0.5%;
}
#chevron-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 1;
}
#preview-content,
.archive-item {
  padding: 1%;
  border-radius: 15px;
}
#preview-link {
  width: 5%;
}
#preview-btn {
  float: right;
  margin-top: -12.5%;
}
.archive-btn {
  float: right;
}
#extend-btn {
  margin-top: -0.25%;
  cursor: pointer;
  min-width: 5%;
}
.news-item {
  display: flex;
}
.panel-img {
  border-radius: 15px;
  padding: 1%;
  margin-right: auto;
  margin-left: auto;
}
.tabbed {
  border-radius: 0 0 25px 25px;
}
@media (min-width: 991px) {
  #news-container {
    height: 80%;
  }
  #preview-img-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  #archive-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  #archive-panel {
    margin-left: 5%;
  }
  .archive-item {
    margin-top: 2%;
    padding-left: 2%;
    width: 85%;
  }
  .panel-img {
    width: 30%;
  }
  .news-item {
    width: 40%;
    flex-direction: row;
  }
  .content-pane {
    width: 60%;
  }
  .panel-pane {
    width: 40%;
  }
}
@media (max-width: 992px) {
  #preview-content {
    margin-top: 3.5%;
    padding-left: 2.5%;
  }
  .content-pane,
  .panel-pane {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .panel-pane {
    display: flex;
    flex-direction: row;
  }
  .panel-img {
    width: 50%;
  }
  .preview-img {
    float: right;
  }
  .archive-img {
    float: left;
  }
  .news-item {
    width: 50%;
  }
  #preview-item{
    flex-direction: column;
  }
  #archive-item{
    flex-direction: column-reverse;

  }
}
