img {
  max-width: 100%;
  max-height: 100%;
}
#grant{
  position: absolute;
  top: 40%;
  width: 100%;
  height: 60%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}
#popup{
  position: absolute;
  top: 30%;
  right: 10%;
  width: 80%; 
  height: 60%;
  border-radius: 5px;
}
#popup-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
}
#popup-header{
  margin-left: 5%;
}
.highlighted{
  font-size: smaller !important;
}
.facts-container{
  width: 90%;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.top{
  padding-left: 10%;
  height: 25%;
}
.bottom{
  padding-right: 10%;
  height: 25%;
}
.fact{
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50%;
}
.factoid{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px 0 0 5px;
  font-size: larger;
  font-weight: bold;
}
.toggle{
  flex-grow: 0;
  border-radius: 0 5px 5px 0;
}
.popup-content{
  height: 90%;
  overflow-y: auto;
}
.img-container{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}