#home{
  position: absolute;
  top: 40%;
}
#slider-card{
  width: 90%;
  margin-left: 5%;
}
#slider-img{
  border-style: solid;
  border-width: 2px;
}
#intro-slider{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sep{
  width: 40%;
  border-style: none none dashed none;
  border-width: 1px;
}
.center{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}