<div id="home">
  <div
    id="btn-banner"
    [@cntl_fade]="centerFadeCntl.state"
    *ngIf="!animated"
    class="mat-elevation-z4 animation"
    role="banner"
  ></div>

  <div
    id="selection-menu"
    class="animation"
    [@cntl_position_selector]="selectionPositionCntl.state"
    role="region"
    aria-label="Home page selection menu"
    aria-live="polite"
  >
    <div
      id="selection"
      class="animation border-accent"
      [@cntl_fade]="selectionFadeCntl.state"
    >
      <h1 class="selection-headline mat-headline" aria-relevant="all">
        {{ getTitle() }}
      </h1>
      <h2 class="selection-subtitle mat-subtitle" aria-relevant="all">
        {{ getSubtitle() }}
      </h2>
      <div
        id="selection-img-container"
        aria-relevant="additions removals"
        aria-details="selection-blurb"
      >
        <img 
          id="selection-img" 
          [src]="getSrc()" 
          [alt]="getAlt()"
        />
      </div>
      <p
        id="selection-blurb"
        class="mat-body selection-body text-center"
        [innerHTML]="getBlurb()"
      ></p>

      <div
        id="underline-lg"
        class="selection-underline"
        *ngIf="!mobileMode()"
      ></div>
      <div
        id="underline-md"
        class="animation"
        class="selection-underline"
        *ngIf="!mobileMode()"
      ></div>
      <div
        id="underline-sm"
        class="selection-underline"
        *ngIf="!mobileMode()"
      ></div>
    </div>
    <div id="selector" class="border-accent animation"></div>
  </div>

  <button
    mat-fab
    color="primary"
    [@cntl_position_center]="mobileMode() ? null : centerPositionCntl.state"
    [@cntl_position_center_mobile]="
      mobileMode() ? centerPositionCntl.state : null
    "
    [@cntl_fade]="centerFadeCntl.state"
    (click)="display()"
    [matTooltip]="getHeidegger()"
    matTooltipShowDelay="3000"
    [disabled]="animated"
    class="mat-elevation-z3 animation"
    [@scale]
    *ngIf="pressable"
    aria-label="Enter the Cumberland Cloud"
    aria-controls="selection-menu"
    gaEvent="home"
    gaCategory="main_click"
  >
    <mat-icon>touch_app</mat-icon>
  </button>

  <div
    id="splash-navigator"
    role="radiogroup"
    aria-label="Splash page navigation"
  >
    <!--
      Each control is bound to a different animation, so they can't be simplified
      by *ngFor iteration. Unfortunate...
    -->
    <button
      mat-icon-button
      id="cloud-btn-1"
      class="cloud-btn mat-elevation-z4"
      [@cntl_position_cloud_btn_1]="cloudBtnPositionCntls[0].state"
      [@cntl_fade]="cloudFadeCntl.state"
      (click)="setState(states.one)"
      [class.selected-btn]="state === states.one"
      [attr.aria-label]="getTitle(states.one)"
      aria-controls="selection"
      [attr.aria-checked]="state === states.one"
      role="radio"
    >
      <mat-icon>cloud</mat-icon>
    </button>
    <button
      mat-icon-button
      id="cloud-btn-2"
      class="cloud-btn mat-elevation-z4"
      [@cntl_position_cloud_btn_2]="cloudBtnPositionCntls[1].state"
      [@cntl_fade]="cloudFadeCntl.state"
      (click)="setState(states.two)"
      [class.selected-btn]="state === states.two"
      [attr.aria-label]="getTitle(states.two)"
      aria-controls="selection"
      [attr.aria-checked]="state === states.two"
      role="radio"
    >
      <mat-icon>cloud</mat-icon>
    </button>
    <button
      mat-icon-button
      id="cloud-btn-3"
      class="cloud-btn mat-elevation-z4"
      [@cntl_position_cloud_btn_3]="cloudBtnPositionCntls[2].state"
      [@cntl_fade]="cloudFadeCntl.state"
      (click)="setState(states.three)"
      [class.selected-btn]="state === states.three"
      [attr.aria-label]="getTitle(states.three)"
      aria-controls="selection"
      [attr.aria-checked]="state === states.three"
      role="radio"
    >
      <mat-icon>cloud</mat-icon>
    </button>
    <button
      mat-icon-button
      id="cloud-btn-4"
      class="cloud-btn mat-elevation-z4"
      [@cntl_position_cloud_btn_4]="cloudBtnPositionCntls[3].state"
      [@cntl_fade]="cloudFadeCntl.state"
      (click)="setState(states.four)"
      [class.selected-btn]="state === states.four"
      [attr.aria-label]="getTitle(states.four)"
      aria-controls="selection"
      [attr.aria-checked]="state === states.four"
      role="radio"
    >
      <mat-icon>cloud</mat-icon>
    </button>
  </div>

  <div id="responsive-content" role="region" aria-label="Responsive content">
    <div
      id="cloud-line-desktop-1"
      class="animation"
      [@cntl_position_cloud_line_desktop_1]="
        cloudLineDesktopPositionCntls[0].state
      "
      [@slide]
      [innerHTML]="getLine(states.four)"
      [class.selections]="moved"
      [class.fancy-text]="!moved"
      [class.mat-title]="moved"
      [class.landscape]="!moved"
      [class.selection-underline]="selected(states.four) && !selecting && moved"
      *ngIf="!mobileMode()"
      (click)="setState(states.four)"
    ></div>
    <div
      id="cloud-line-desktop-2"
      class="animation"
      [@cntl_position_cloud_line_desktop_2]="
        cloudLineDesktopPositionCntls[1].state
      "
      [@slide]
      [innerHTML]="getLine(states.three)"
      [class.selections]="moved"
      [class.fancy-text]="!moved"
      [class.mat-title]="moved"
      [class.landscape]="!moved"
      [class.selection-underline]="
        selected(states.three) && !selecting && moved
      "
      *ngIf="!mobileMode()"
      (click)="setState(states.three)"
    ></div>
    <div
      id="cloud-line-desktop-3"
      class="animation"
      [@cntl_position_cloud_line_desktop_3]="
        cloudLineDesktopPositionCntls[2].state
      "
      [@slide_reverse]
      [innerHTML]="getLine(states.two)"
      [class.selections]="moved"
      [class.fancy-text]="!moved"
      [class.mat-title]="moved"
      [class.landscape]="!moved"
      [class.selection-underline]="selected(states.two) && !selecting && moved"
      *ngIf="!mobileMode()"
      (click)="setState(states.two)"
    ></div>
    <div
      id="cloud-line-desktop-4"
      class="animation"
      [@cntl_position_cloud_line_desktop_4]="
        cloudLineDesktopPositionCntls[3].state
      "
      [@slide_reverse]
      [innerHTML]="getLine(states.one)"
      [class.selections]="moved"
      [class.fancy-text]="!moved"
      [class.mat-title]="moved"
      [class.landscape]="!moved"
      [class.selection-underline]="selected(states.one) && !selecting && moved"
      *ngIf="!mobileMode()"
      (click)="setState(states.one)"
    ></div>

    <div
      id="cloud-line-mobile-1"
      class="animation fancy-text mobile-line"
      [innerHTML]="getLine(states.three)"
      *ngIf="mobileMode() && !moved"
      [@cntl_position_cloud_line_mobile_1]="
        cloudLineMobilePositionCntls[0].state
      "
      [@slide]
    ></div>
    <div
      id="cloud-line-mobile-2"
      class="animation fancy-text mobile-line"
      [innerHTML]="getLine(states.two)"
      *ngIf="mobileMode() && !moved"
      [@cntl_position_cloud_line_mobile_2]="
        cloudLineMobilePositionCntls[1].state
      "
      [@slide_reverse]
    ></div>
    <div
      id="cloud-line-mobile-3"
      class="animation fancy-text"
      [innerHTML]="getLine(states.one)"
      *ngIf="mobileMode() && !moved"
      [@cntl_position_cloud_line_mobile_3]="
        cloudLineMobilePositionCntls[2].state
      "
    ></div>
  </div>
</div>
