#home{
  position: absolute;
  top: 30%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}
#selection-menu, #selection, #selector{
  position: absolute;
}
#selection{
  top: 0%; 
  right: 30%;
  left: 0%;
  bottom: 0%;
  border-style: solid none none none;
  border-width: 1px 0 0 0;
}
#selector{
  top: 0%;
  left: 70%;
  right: 0%;
  bottom: 0%;
  border-style: solid none none solid;
  border-width: 1px 0 0 3px;
}
.cloud-btn{
  position: absolute;
  top: 10%; 
  left: 49%;
}