<div id="home">
  <mat-card id="intro-card">
    <mat-card-title>
      Cloud Native Web Applications
    </mat-card-title>
    <mat-card-subtitle>
      Bringing the cost savings of cloud computing to small businesses
    </mat-card-subtitle>
    <img mat-card-img src="/assets/clouds-banner.jpg" alt="Cloud Computing" id="intro-img">
    <mat-card-content>
      <div id="intro-slider">
        <button mat-icon-button class="info-btn">
          <mat-icon>info</mat-icon>
        </button>
        <span class="sep"></span>
        <button mat-icon-button color="primary">
          <mat-icon>info</mat-icon>
        </button>
        <span class="sep"></span>
        <button mat-icon-button class="info-btn">
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>

</div>
