#selection-menu,
#selection,
#selector,
#home,
#btn-banner,
#underline-lg,
#underline-md,
#underline-sm,
.cloud-line,
.start-button {
  position: absolute;
}
#home {
  top: 30%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}
#selection {
  top: 0%;
  left: 0%;
  bottom: 0%;
  border-style: solid none none none;
  border-width: 1px 0 0 0;
}
#selector {
  top: 0%;
  right: 0%;
  bottom: 0%;
  border-style: solid none none solid;
  border-width: 1px 0 0 3px;
}
#selection-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#selection-img {
  width: 100%;
  border-style: solid;
  border-width: 2px;
}
#btn-banner {
  top: 27.5%;
  left: 0%;
  right: 0%;
}
#underline-lg {
  left: 15%;
  right: 10%;
  bottom: 15%;
}
#underline-md {
  left: 25%;
  right: 20%;
  bottom: 10%;
}
#underline-sm {
  left: 35%;
  right: 30%;
  bottom: 5%;
}

.selections {
  cursor: pointer;
}
.cloud-btn {
  position: absolute;
  top: 10%;
  left: 49%;
  border-style: solid;
  border-width: 1px;
}
.selection-headline {
  margin-left: 5%;
  margin-top: 2.5%;
  margin-right: 2.5%;
}
.selection-subtitle {
  margin-left: 10%;
  margin-right: 2.5%;
}
.selection-body {
  margin-left: 10%;
  margin-right: 2.5%;
  overflow-y: auto;
}
.selection-underline {
  border-style: none none solid none;
  border-width: 1px;
}
.no-underline {
  text-decoration: none;
}

@media (max-width: 992px) {
  #btn-banner {
    bottom: 25%;
  }
  #selector {
    left: 85%;
  }
  #selection {
    right: 15%;
  }
  .selection-body {
    margin-top: 10%;
  }
  .start-button {
    top: 0%;
    left: 42.5%;
  }
}
@media (min-width: 991px) {
  #btn-banner {
    bottom: 35%;
  }
  #selector {
    left: 70%;
  }
  #selection {
    right: 30%;
  }
  .selection-body {
    margin-top: 2.5%;
  }
  .start-button {
    top: 0%;
    left: 45%;
  }
}
