<div class="bg-btm-layer"></div>

<div class="splash">
  <div class="banner mat-elevation-z8">
    <div class="align" style="margin-left: 1.5%;">
      <button mat-icon-button color="accent">
        <mat-icon>cloud</mat-icon>
      </button>
    </div>

    <div class="title">
      <img src="/assets/title.png">
    </div>
  </div>

  <div class="card-top-spacer"></div>

  <div class="display">

    <div class="align">
      <button mat-fab color="primary"><mat-icon>chevron_left</mat-icon></button>
    </div>

    <mat-card class="info-card mat-elevation-z8">
      <mat-card-title>
        title go here
      </mat-card-title>
      <mat-card-subtitle>
        subtitle go here
      </mat-card-subtitle>
      <mat-card-content>
        content go here
      </mat-card-content>
    </mat-card>

    <div class="align">
      <button mat-fab color="primary"><mat-icon>chevron_right</mat-icon></button>
    </div>

  </div>

  <div class="card-btm-spacer"></div>


</div>