<div class="bg-btm-layer"></div>

<div class="bg-img"></div>

<div id="splash">
  <div id="banner" class="mat-elevation-z8">
    <div id="cloud-btn-container" class="v-align"  style="margin-left: 1.5%;">
      <button id="cloud-btn" mat-icon-button  (click)="toggleMenu()" matTooltip="Menu">
        <mat-icon>cloud</mat-icon>
      </button>
    </div>

    <div id="title">
      <img id="title-img" alt="Cumberland Cloud" src="/assets/imgs/title.png">
    </div>
  </div>

  <div id="nav-menu"  [@cntl_fold]="menuFoldCntl.state">
    <div class="nav-item"  *ngFor="let item of navItems" [ngClass]="{ selected: item == this.selectedNav }" (click)="navigate(item)" [routerLink]="item.path">{{item.title}}</div>
  </div>

  <div id="top-spacer"></div>

  <div class="display">
    <router-outlet></router-outlet>
  </div>

  <div id="btm-spacer"></div>

  <button mat-icon-button id="master-button" (click)="openSheet()">
    <mat-icon>help_outline</mat-icon>
  </button>

</div>