<div class="bg-btm-layer"></div>

<div class="bg-img"></div>

<div id="under-construction" *ngIf="underConstruction">
  <div class="h-align">
    <img
      id="construction-img"
      src="/assets/imgs/under_construction.jpg"
      class="mat-elevation-z3"
    />
  </div>
  <button
    id="construction-btn"
    mat-fab
    color="accent"
    (click)="underConstruction = false"
    matTooltip="Let me in anyway!"
    aria-label="Site under construction"
  >
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>

<div id="splash" *ngIf="!underConstruction">
  <div id="banner" class="mat-elevation-z8">
    <div id="cloud-btn-container" class="v-align">
      <button
        id="cloud-btn"
        mat-icon-button
        (click)="toggleMenu()"
        matTooltip="Menu"
        aria-labbel="Toggle navigation menu"
      >
        <mat-icon>cloud</mat-icon>
      </button>
    </div>

    <div class="v-align">
      <div id="title" class="title-text">Cumberland Cloud</div>
    </div>

    <div class="v-align">
      <button
        id="master-button"
        mat-icon-button
        aria-label="Contact information"
        matTooltip="Contact information"
        (click)="openSheet()"
      >
        <mat-icon>help_outline</mat-icon>
      </button>
    </div>
  </div>

  <div id="nav-menu" [@cntl_fold]="menuFoldCntl.state">
    <div
      class="nav-item"
      *ngFor="let conf of navConfig"
      aria-label="Navigation menu item"
    >
      <span
        *ngIf="!conf.children"
        [ngClass]="{ selected: conf == this.selectedNav }"
        [routerLink]="conf.path"
      >
        {{ conf.nav_title }}
      </span>
      <span
        *ngIf="conf.children"
        [ngClass]="{ selected: conf == this.selectedNav }"
        [matMenuTriggerFor]="menu"
      >
        {{ conf.nav_title }}
        <mat-menu #menu="matMenu">
          <button
            *ngFor="let child of conf.children"
            mat-menu-item
            [routerLink]="child.path"
          >
            {{ child.nav_title }}
          </button>
        </mat-menu>
      </span>
    </div>
  </div>

  <div id="top-spacer"></div>

  <div id="app-entrypoint" class="display">
    <router-outlet></router-outlet>
  </div>

  <div id="btm-spacer"></div>
</div>
