@media (max-width: 992px) {
  #design {
    height: 67.5%;
  }
  #splash-img-container {
    width: 100%;
  }
  #splash-animation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  #splash-bubble {
    top: 55%;
    right: 20%;
  }
  #design-phase-svg,
  #develop-phase-svg,
  #deploy-phase-svg,
  #deliver-phase-svg {
    left: 35%;
    top: 32.5%;
  }
  #design-phase-svg-numeral,
  #develop-phase-svg-numeral,
  #deploy-phase-svg-numeral,
  #deliver-phase-svg-numeral {
    top: 24%;
    left: 20%;
  }
  #design-phase-title,
  #develop-phase-title,
  #deploy-phase-title,
  #deliver-phase-title {
    top: 25%;
    width: 100%;
    text-align: center;
  }
  #design-phase-txt-line-1,
  #develop-phase-txt-line-1,
  #deploy-phase-txt-line-1,
  #deliver-phase-txt-line-1 {
    top: 55%;
    width: 95%;
    text-align: left;
  }
  #design-phase-txt-line-2,
  #develop-phase-txt-line-2,
  #deliver-phase-txt-line-2 {
    top: 67.5%;
    width: 95%;
    text-align: left;
  }
  #deploy-phase-txt-line-2 {
    top: 69%;
    width: 95%;
    text-align: left;
  }
  #design-phase-txt-line-3,
  #develop-phase-txt-line-3,
  #deploy-phase-txt-line-3 {
    top: 80%;
    width: 95%;
    text-align: left;
  }
  #deliver-phase-txt-line-3 {
    top: 78%;
    width: 95%;
    text-align: left;
  }
  #project-gallery {
    display: flex;
    flex-direction: column;
  }
  #gallery-scroller {
    position: absolute;
    top: 27.5%;
    bottom: 10%;
    right: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  .splash-img {
    border-radius: 20%;
    width: 72.5%;
    height: 90%;
  }
  .gallery-img {
    width: 90%;
    height: auto;
  }
  .splash-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  #splash-line-txt-1 {
    margin-left: 5%;
    justify-content: flex-start;
  }
  #splash-line-txt-2 {
    justify-content: center;
  }
  #splash-line-txt-3 {
    justify-content: flex-end;
    margin-right: 5%;
  }
  .splash-line {
    display: flex;
    flex-direction: row;
    width: 95%;
  }
  .splash-bg {
    bottom: 20%;
  }
  .company-title {
    padding-top: 3%;
  }
  .mobile-bullet {
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
}
